<% unless brand_contact.new_record? %>
  <tr>
    <td><%= brand_contact.full_name %></td>
    <td><%= brand_contact.job_title %></td>
    <td><%= brand_contact.email %></td>
    <td><%= brand_contact.phone_no %></td>
    <td>
      <div class="action-area-buttons">
        <%= link_to(edit_brand_brand_contact_path(brand, brand_contact), remote: true, class: 'fa') do %>
          <%= image_pack_tag 'home/ic_edit.svg'%>
        <% end %>
        <%= link_to(brand_brand_contact_path(brand, brand_contact), remote: true, method: :delete, class: 'fa', data: { confirm: 'Are you sure want to delete this Brand Contact?' }) do %>
          <%= image_pack_tag 'home/ic_delete.svg'%>
        <% end %>
      </div>
    </td>
  </tr>
<% end %>
