<div class="modal-header">
  <% title_half = (params[:action] == 'new' or params[:action] == 'create' or params[:add_more].present?) ? 'Add' : 'Edit' %>
  <h5 class="modal-title"><%= title_half %> Brand Contact</h5>
  <div id="flashMessage", class="inner_flash_message"></div>
</div>
<div class="modal-body">
  <%= form_for [brand, brand_contact], remote: true do |f| %>
  <%= f.hidden_field :brand_id, value: brand.id %>
    <div class="form-group">
      <%= f.label :email, 'Email Address', class: 'text-capitalize fs-17 asterisk' %><br />
      <%= f.email_field :email, class: 'form-control', required: true, pattern: Field::PATTERNS["Email".to_sym], placeholder: 'Enter Email Address', disabled: !f.object.new_record? %>
    </div>
    <% brand_contact_klass = Klass.brand_contact %>
    <% brand_contact_klass.fields.each do |field| %>
      <div class="form-group">
        <%= render partial: 'forms/field', locals: { f: f, field_name: field.name, field_label: field.label, column_type: field.column_type, data: data, custom: field.custom, field: field, value: field.column_type == 'File' ? '' : brand_contact.send(field.name) } %>
      </div>
    <% end %>

    <% if params[:inside].present? %>
      <%= f.hidden_field :inside, value: true %>
    <% end %>
    <div class="modal-footer modal-footer-fixed">
      <% save_button_title = f.object.new_record? ? 'Add' : 'Save' %>
      <%= f.submit save_button_title, class: "btn btn-primary add_venue_contact" %>
      <%= f.submit 'Add More', name: 'add_more', value: 'Add More', class: "btn btn-primary add_venue_contact" %>
      <button type="button" class="btn btn-light bg-light-gray text-dark" data-dismiss="modal">Close</button>
    </div>
  <% end %>
</div>
