

<div class="modal-header">
  <% title_half = (params[:action] == 'new' or params[:action] == 'create') ? 'Add' : 'Edit' %>
  <h5 class="modal-title"><%= title_half %> Business</h5>
</div>
<div class="modal-body">
  <%= form_for @business do |f| %>
    <%#= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group mt-4">
      <%= f.label :business_domain_name, class: 'text-capitalize fs-17 asterisk' %><br />
      <%= f.text_field :domain, class:"form-control", placeholder:"Enter Business Domain Name", required: true, 'parsley-trigger': "change keyup", 'parsley-type': "url",'data-parsley-pattern': '^(https?:\/\/)?(www\.)?([a-zA-Z0-9]+(-?[a-zA-Z0-9])*\.)+[\w]{2,}(\/\S*)?$','data-parsley-pattern-message': 'Domain Name is Invalid'  %>
    </div>

    <div class="form-group">
      <%= f.label :business_name, class: 'text-capitalize fs-17 asterisk' %><br />
      <%= f.text_field :name, class:"form-control", placeholder:"Enter Business Name", required: true, 'data-parsley-trigger': "keyup", 'data-parsley-maxlength': "100", 'data-parsley-maxlength-message': "Business Name should have 100 characters or fewer.", 'data-parsley-validation-threshold': "10"  %>
    </div>

    <div class="form-group">
      <%= f.label :industry, class: 'text-capitalize fs-17 asterisk' %><br />
      <%#= f.text_field :industry, class:"form-control", placeholder: "Enter Industry", required: true  %>
      <%= f.select :industry, options_for_select(Business::INDUSTRY, selected: f.object.industry), {include_blank: 'Select Industry'}, {class:"form-control product-selection"}%>
    </div>

    <div class="form-group">
      <%= f.label :type, class: 'text-capitalize fs-17 asterisk' %><br />
      <%#= f.text_field :business_type, class:"form-control", placeholder:"Enter Type", required: true  %>
      <%= f.select :business_type, options_for_select(Business::TYPE, selected: f.object.business_type), {include_blank: 'Select Type'}, {class:"form-control product-selection"}%>
    </div>

    <div class="form-group">
      <%= f.label :phone, class: 'text-capitalize fs-17 asterisk' %><br />
      <%= f.text_field :phone_no, autofocus: true, autocomplete: "phone_no", placeholder:"(xxx) xxx-xxx", class: 'form-control phone-number', pattern: "/^([\+][0-9]{1,3}([ \.\-])?)?([\(]{1}[0-9]{3}[\)])?([0-9A-Z \.\-]{1,32})((x|ext|extension)?[0-9]{1,4}?)$/", 'data-parsley-pattern-message': 'Please enter Only Digit', 'data-parsley-trigger': 'change keyup', 'data-parsley-length': '[14,14]', 'data-parsley-length-message': 'Please enter 10 digits only', required: true, 'data-parsley-required-message': 'This value is required' %>
    </div>

    <div class="form-group">
      <%= f.label :zip_code, class: 'text-capitalize fs-17 asterisk' %><br />
      <%= f.text_field :zip_code, class:"form-control", placeholder:"Enter Zip Code", required: true  %>
    </div>

    <div class="form-group">
      <%= f.label :address, class: 'text-capitalize fs-17 asterisk' %><br />
      <%= f.text_field :address, class:"form-control", placeholder: "Enter Address", required: true  %>
    </div>

    <div class="form-group">
      <%= f.label :city, class: 'text-capitalize fs-17 asterisk' %><br />
      <%= f.text_field :city, class:"form-control", placeholder: "Enter City", required: true  %>
    </div>

    <div class="form-group">
      <%= f.label :state, class: 'text-capitalize fs-17 asterisk' %><br />
      <%= f.text_field :state, class:"form-control", placeholder: "Enter State", required: true  %>
    </div>

    <div class="form-group">
      <% emp_record = f.object.new_record? ? "" : f.object.no_of_employee %>
      <%= f.label :no_of_employee, class: 'text-capitalize fs-17 asterisk' %><br />
      <%= f.number_field :no_of_employee, value: emp_record, class:"form-control", placeholder:"Enter No of Employee", required: true, maxlength: "10"  %>
    </div>

    <div class="form-group">
      <%= f.label :annual_revenue, class: 'text-capitalize fs-17 asterisk' %><br />
      <% record = f.object.new_record? ? "" : display_two_digit(f.object.annual_revenue)%>
      <%= f.text_field :annual_revenue, value: record, class:"form-control", placeholder: "Enter Annual Revenue", required: true  %>
    </div>


    <div class="form-group">
      <%= f.label :description, class: 'text-capitalize fs-17 asterisk' %><br />
      <%= f.text_area :description, class:"form-control h-auto", placeholder: "Enter Description", required: true, rows: 8  %>
    </div>

    <div class="modal-footer modal-footer-fixed">
      <%= f.submit "Save", class: "btn btn-primary" %>
      <button type="button" class="btn btn-light bg-light-gray text-dark" data-dismiss="modal">Close</button>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  $(document).on('keyup keypress', '.phone-number', function(e){
    phone_number = /^(1\s?)?((\([0-9]{3}\)-)|[0-9]{3})[\s\-]?[\0-9]{3}-[\s\-]?[0-9]{4}$/
    space_regex = /\(?\d{3}\)?[ ]\d{3}?[ ]\d{4}/
    dash_regex = /^(\([0-9]{3}\) |[0-9]{3}-)[0-9]{3}-[0-9]{4}$/
    var curchr = this.value.length;
    var curval = $(this).val();
    if (curchr == 3 && curval.indexOf("(") <= -1) {
      if (e.which != 8){
        $(this).val("(" + curval + ")" + " ");
      }
    } else if (curchr == 4 && curval.indexOf("(") > -1) {
      if (e.which != 8){
        $(this).val(curval + ")-");
      }
    } else if (curchr == 5 && curval.indexOf(")") > -1) {
      if (e.which != 8){
        $(this).val(curval + "-");
      }
    } else if (curchr == 9) {
      if (e.which != 8){
        $(this).val(curval + "-");
      }
      $(this).attr('maxlength', '14');
    }
  });
</script>