
<% if notes.present? %>
  <% notes.each do |note| %>
    <div class="shadow p-3 bg-white rounded mt-4 note_shadow_box_<%= note.id %>">
      <p class="fs-18"><%= note.description.html_safe %></p>
      <p class="text-gray mt-3 fs-16"> -- <%= "#{note.user.full_name} | #{note.created_at.strftime('%b %d, %Y %l:%M %p')}" %> </p>
      <div class="mt-3">
        <%= link_to new_business_note_comment_path(notable.id, note.id), remote: true, class: 'text-primary fs-16 fw-600 add_comment mr-2' do %>
          <%= image_pack_tag 'home/ic_comment.svg', class: 'mr-3' %> Add Comment
        <% end %>
        | <a class="text-primary fs-16 fw-600 ml-2 text-nowrap" data-toggle="collapse" href="#note_comment_partial_<%= note.id %>" role="button" aria-expanded="false" aria-controls="note_comment_partial_<%= note.id %>">
            Comments <i class="fa fa-chevron-down"></i>
          </a>
      </div>
      <div class="add_comment_for_note_<%= note.id %> main_comment_form_div"></div>
      <div class="collapse show comments_list_div" id="note_comment_partial_<%= note.id %>">
        <% if note.comments.present? %>
          <% note.comments.each do |comment| %>
            <div class="card card-body mt-2">
              <p class="fs-16"><%= comment.description.html_safe %></p>
              <p class="text-gray mt-2 fs-14"> -- <%= "#{comment.user.full_name} | #{comment.created_at.strftime('%b %d, %Y %l:%M %p')}" %></p>
            </div>
          <% end %>
        <% else %>
          <div class="card card-body mt-2">
            <p class="text-center text-gray">No Comments yet</p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <div class="shadow p-3 bg-white rounded mt-4">
    <p class="fs-18 text-center text-gray">No Data Available</p>
  </div>
<% end %>
