<table class="table table-bordered w-100" id="venue_list_table">
  <thead class="thead-dark">
    <th>Venue Name</th>
    <th>City</th>
    <th>No of Employees</th>
    <th>Phone Number</th>
    <th>Action</th>
  </thead>
  <tbody>
    <% venues.each do |venue| %>
      <tr>
        <td><%= link_to venue.name, venue_path(venue) %></td>
        <td><%= venue.city %></td>
        <td><%= venue.no_of_employee %></td>
        <td><%= venue.phone_no %></td>
        <td>
          <div class="action-area-buttons">
            <%= link_to(edit_business_venue_path(@business, venue), remote: true, class: 'fa') do %>
              <%= image_pack_tag 'home/ic_edit.svg'%>
            <% end %>
            <%= link_to(business_venue_path(@business, venue), method: :delete, class: 'fa', data: { confirm: 'Are you sure want to delete this Venue?' }) do %>
              <%= image_pack_tag 'home/ic_delete.svg'%>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<script>
  $(document).ready(function(){
    custom_datatable($('#venue_list_table'));
  })
</script>
