<section class="content-wrapper">
  <div class="content position-relative">
    <div class="d-flex">
      <div class="row">
        <div class="col-lg-12">
          <h5 class="text-gray d-inline">Business Management</h5>
          <h5 class="text-gray d-inline"> <i class="fa fa-angle-right"></i></h5>
          <h5 class="text-dark d-inline">View Business</h5>
        </div>
      </div>
    </div>
    <div class='row mt-5'>
      <div class="col-md-6">
        <%# <input type="text" id="searchbox" class="form-control " style="width: 50%;display: inline;"> %>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group has-search">
              <span class="fa fa-search form-control-feedback"></span>
              <input type="text" class="form-control" placeholder="Search" id="searchbox">
            </div>
          </div>
          <div class="col-md-4">
            <button class="btn btn-primary form-group">Search</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="add-item-btn mb-3 d-md-flex flex-wrap flex-row-reverse">
          <%= link_to "Add Business", new_business_path, class: 'btn btn-primary mb-2' %>
        </div>
      </div>
    </div>
    <div class="admin-table bg-white table-responsive mt-3">
      <table class="table table-bordered text-center" id="business_list_table" style="width: 100%;">
        <thead class="thead-dark">
          <th>Business Name</th>
          <th>Address</th>
          <th>Domain</th>
          <th>State</th>
          <th>Venue</th>
          <th>Phone Number</th>
          <th>Action</th>
        </thead>
        <tbody>
    		<% @businesses.each do |business| %>
    			<tr>
    				<td><%= link_to business.name, business_path(business.id) %></td>
    				<td><%= business.address %></td>
            <td><%= business.domain %></td>
    				<td><%= business.state %></td>
            <td>0</td>
            <td><%= business.phone_no %></td>
            <td>
              <div class="action-area-buttons">
                <%= link_to(' ', edit_business_path(business), class: 'fa fa-pencil-alt') %>
                <%= link_to(' ', business_path(business), method: :delete, class: 'fa fa-trash', data: {confirm: 'Are you sure want to delete this Modifier Group?'}) %>
              </div>
            </td>
    			</tr>
    		<% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>

<style>


</style>

<script>
  // $('#business_list_table').dataTable();
    //  dom: 'l<"toolbar">frtip',
    $(document).ready(function(){
      var table = $('#business_list_table');
      // table.DataTable().destroy();
      // table.DataTable({
      //     initComplete : function() {
      //       var input = $('.dataTables_filter input').unbind(),
      //           self = this.api(),
      //           $searchButton = $('<button>')
      //                       .text('Search').addClass('btn btn-primary')
      //                       .click(function() {
      //                         self.search(input.val()).draw();
      //                       }),
      //           $clearButton = $('<button>')
      //                       .text('Clear').addClass('btn btn-light bg-light-gray text-dark')
      //                       .click(function() {
      //                         input.val('');
      //                         $searchButton.click(); 
      //                       }) 
      //       $('.dataTables_filter').append($searchButton, $clearButton);
      //       console.log('hello');
      //     },
      //   language: {
      //       search: "",
      //       searchPlaceholder: "Search Business"
      //   }          
      // })
      var dataTable = table.DataTable({
        "dom": 't<"dataTable-bottom"lp>'
      });
      $("#searchbox").on("keyup search input paste cut", function() {
        dataTable.search(this.value).draw();
      });  
    })

</script>
