<div class="row">
  <div class="col-md-6 mb-4">
    <div class="box-body admin-box bg-white p-4 h-100 rounded-10 table-bordered border-radius-5">
      <div class="chart-header">
        <h3 class="chart-main-title mb-0">Seating Capacity </h3>
        <p class="chart-sub-title text-blue3 mb-3"></p>
        <div>
  				<%= column_chart(@simulations[:seating_capacity], id: 'seating_capacity') %>
  			</div>
        <div class="chart-labels row ml-5 justify-content-around mt-4 border rounded p-3 text-gray fs-14 text-break">
          <span class="col-12 col-sm-6 col-xl-3">Daily<br> <b><%= number_with_delimiter(@simulations[:daily_seating_capacity].to_i, :delimiter => ',') %></b></span>
          <span class="col-12 col-sm-6 col-xl-3">Weekly<br><b><%= number_with_delimiter(@simulations[:week_seating_capacity].to_i, :delimiter => ',') %></b></span>
          <span class="col-12 col-sm-6 col-xl-3">Monthly<br> <b><%= number_with_delimiter(@simulations[:month_seating_capacity].to_i, :delimiter => ',') %></b></span>
          <span class="col-12 col-sm-6 col-xl-3">Annualy<br><b><%= number_with_delimiter(@simulations[:year_seating_capacity].to_i, :delimiter => ',') %></b></span>
        </div>
  		</div>
  	</div>
  </div>
  <div class="col-md-6 mb-4">
    <div class="box-body admin-box bg-white p-4 h-100 rounded-10 table-bordered border-radius-5">
      <div class="chart-header">
        <h3 class="chart-main-title mb-0">Visitor Attendance</h3>
        <p class="chart-sub-title text-blue3 mb-3"></p>
        <div>
  				<%= line_chart(@simulations[:visitor_attendance], id: 'vistior_chart') %>
  			</div>
        <div class="chart-labels row ml-5 justify-content-around mt-4 border rounded p-3 text-gray fs-14 text-break">
          <span class="col-12 col-sm-6 col-xl-3">Daily<br> <b><%= number_with_delimiter(@simulations[:daily_visitor_attendance].to_i, :delimiter => ',') %></b></span>
          <span class="col-12 col-sm-6 col-xl-3">Weekly<br><b><%= number_with_delimiter(@simulations[:week_visitor_attendance].to_i, :delimiter => ',') %></b></span>
          <span class="col-12 col-sm-6 col-xl-3">Monthly<br> <b><%= number_with_delimiter(@simulations[:month_visitor_attendance].to_i, :delimiter => ',') %></b></span>
          <span class="col-12 col-sm-6 col-xl-3">Annualy<br> <b><%= number_with_delimiter(@simulations[:year_visitor_attendance].to_i, :delimiter => ',') %></b></span>
        </div>
  		</div>
  	</div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 mb-4">
    <div class="box-body admin-box bg-white p-4 h-100 rounded-10 table-bordered border-radius-5">
      <div class="chart-header">
        <h3 class="chart-main-title mb-0">WIFILP</h3>
        <p class="chart-sub-title text-blue3 mb-3"></p>
        <div>
          <%#= column_chart(@wifi_login, id: 'wifi_lp') %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="box-body admin-box bg-white p-4 h-100 rounded-10 table-bordered border-radius-5">
      <div class="chart-header">
        <h3 class="chart-main-title mb-0">CPM LP Revenue</h3>
        <p class="chart-sub-title text-blue3 mb-3"></p>
        <div>
  				<%#= column_chart(@lp_impression, id: 'cpm_lp') %>
  			</div>
  		</div>
  	</div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="box-body admin-box bg-white p-4 h-100 rounded-10 table-bordered border-radius-5">
      <div class="chart-header">
        <h3 class="chart-main-title mb-0">User Impression</h3>
        <p class="chart-sub-title text-blue3 mb-3"></p>
        <div>
  				<%#= column_chart(@user_impression, id: 'user_impression') %>
  			</div>
  		</div>
  	</div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 mb-4">
    <div class="box-body admin-box bg-white p-4 h-100 rounded-10 table-bordered">
      <div class="chart-header">
        <h3 class="chart-main-title mb-0">CPM Impression Revenue</h3>
        <p class="chart-sub-title text-blue3 mb-3"></p>
        <div>
  				<%= column_chart(@cpm_lpm, id: 'cpm_impression') %>
  			</div>
  		</div>
  	</div>
  </div>
  <div class="col-md-6 mb-4">
    <div class="box-body admin-box bg-white p-4 h-100 rounded-10 table-bordered border-radius-5">
      <div class="chart-header">
        <h3 class="chart-main-title mb-0">WIFI Revenue</h3>
        <p class="chart-sub-title text-blue3 mb-3"></p>
        <div>
          <%#= area_chart(@simulations.group_by_day(:created_at).sum(:wifi_annual_total), id: 'wifi_revenue') 
          %>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function (){
    var chart = Chartkick.charts["seating_capacity"]

      var newOptions = {
        messages: {empty: "No Records available."},
        colors: ["#0526FF", "#FFFFFF", "#DDDFFF", "#DdCFFF"],
        library: {
          messages: {empty: "No Records available."},
          thousands: ",",
          tooltips: {
            callbacks: {
              title: function(value){
                d = new Date(value[0].label);
                month = d.getMonth() + 1
                str = d.getDate() + '/' + month + '/' + d.getFullYear();
                return str;
              },
              label: function(tooltipItem) {
                return (tooltipItem.value).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")
              }
            }
          },
          plugins: {
            datalabels: {
              display: true,
              align: 'end',
              anchor: 'end',
              backgroundColor: function(context) {
                return context.dataset.backgroundColor;
              },
              borderRadius: 4,
              color: 'white',
              font: {
                weight: 'bold'
              },
              formatter: function(value) {
                return (value).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")
              },
              padding: 5
            }
          },

          // scales: {
          //   yAxes: [{
          //       ticks: {
          //         callback: function(value) {
          //           d = new Date(value);
          //           var str = ('0' + d.getDate()).slice(-2) + '/' + ('0' + (d.getMonth()+1)).slice(-2)
          //           return str;
          //         }
          //       }
          //   }],
          // }
        }
      }

      var newOptions2 = {
        messages: {empty: "No Records available."},
        library: {
          thousands: ",",
          colors: ["#0526FF", "#FFFFFF", "#DDDFFF", "#DCCFFF"],
          tooltips: {
            callbacks: {
              title: function(value){
                d = new Date(value[0].label);
                month = d.getMonth() + 1
                str = d.getDate() + '/' + month + '/' + d.getFullYear();
                return str;
              },
              label: function(tooltipItem) {
                return (parseInt(tooltipItem.value)).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,')
              }
            }
          },
          plugins: {
            datalabels: {
              display: false,
              // backgroundColor: function(context) {
              //   return context.dataset.backgroundColor;
              // },
              // borderRadius: 4,
              // color: 'white',
              // font: {
              //   weight: 'bold'
              // },
              // formatter: function(value) {
              //   return (value).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,');   
              // },
              // padding: 5
            }
          },
          scales: {
            yAxes: [{
                ticks: {
                  callback: function(value) {
                    d = new Date(value);
                    var str = d.getDay() + '/' + d.getMonth() ;
                    var str = ('0' + d.getDate()).slice(-2) + '/' + ('0' + (d.getMonth()+1)).slice(-2)
                    return str;
                  }
                }
            }],
          }

        }
      }

    var mergedOptions = jQuery.extend(chart.options,newOptions)
    chart.setOptions(mergedOptions);
  })
</script>