<div class="row">
  <div class="col-lg-4 mb-4">
    <div class="box-body admin-box bg-white p-4 h-100 rounded-10">
      <div class="chart-header">
        <h3 class="chart-main-title mb-0">Venue Details</h3>
        <p class="chart-sub-title text-blue3 mb-3"></p>
        <div>
  				<%= area_chart @simulations.group_by_day(:created_at).sum(:daily_seating_capacity) %>
  			</div>
  		</div>
  	</div>
  </div>
  <div class="col-lg-4 mb-4">
    <div class="box-body admin-box bg-white p-4 h-100 rounded-10">
      <div class="chart-header">
        <h3 class="chart-main-title mb-0">Visitor Attendance</h3>
        <p class="chart-sub-title text-blue3 mb-3"></p>
        <div>
  				<%= pie_chart (@simulations.group_by_day(:created_at).sum(:annual_attendance_per))
           %>
  			</div>
  		</div>
  	</div>
  </div>
  <div class="col-lg-4 mb-4">
    <div class="box-body admin-box bg-white p-4 h-100 rounded-10">
      <div class="chart-header">
        <h3 class="chart-main-title mb-0">WIFILP</h3>
        <p class="chart-sub-title text-blue3 mb-3"></p>
        <div>
  				<%= area_chart (@simulations.group_by_day(:created_at).sum(:wifi_lp_per_day_login))
           %>
  			</div>
  		</div>
  	</div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 mb-4">
    <div class="box-body admin-box bg-white p-4 h-100 rounded-10">
      <div class="chart-header">
        <h3 class="chart-main-title mb-0">CPM LP Revenue</h3>
        <p class="chart-sub-title text-blue3 mb-3"></p>
        <div>
  				<%= area_chart @simulations.group_by_day(:created_at).sum(:cpm_impression_per_day) %>
  			</div>
  		</div>
  	</div>
  </div>
  <div class="col-lg-4 mb-4">
    <div class="box-body admin-box bg-white p-4 h-100 rounded-10">
      <div class="chart-header">
        <h3 class="chart-main-title mb-0">User Impression</h3>
        <p class="chart-sub-title text-blue3 mb-3"></p>
        <div>
  				<%= pie_chart (@simulations.group_by_day(:created_at).sum(:cpm_impression_per_day))
           %>
  			</div>
  		</div>
  	</div>
  </div>
  <div class="col-lg-4 mb-4">
    <div class="box-body admin-box bg-white p-4 h-100 rounded-10">
      <div class="chart-header">
        <h3 class="chart-main-title mb-0">CPM Impression Revenue</h3>
        <p class="chart-sub-title text-blue3 mb-3"></p>
        <div>
  				<%= area_chart (@simulations.group_by_day(:created_at).sum(:cpm_impression_annual))
           %>
  			</div>
  		</div>
  	</div>
  </div>
</div>