<div class="modal-header py-2 justify-content-center mt-3">
  <h5 class="modal-title fs-20">Input Simulation Data</h5>
</div>
<% path, method_name = action_name(params, @simulation) %>
<div class="simulation-form">
  <%= form_for @simulation, url: path, method: method_name, html: {class: 'admin-form', remote: true} do |f|  %>
    <%#= render "devise/shared/error_messages", resource: resource %>
    <p class="text-gray fs-14 mt-3">Please enter all input details to see your Revenue Analytics</p>
    <%= f.hidden_field :venue_id, value: params[:venue_id] %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <div class="px-3 border py-2 border-light">
      <%= f.label 'Venue Details', class: 'text-capitalize fs-16 fw-600' %>
      <div class="row align-items-center mt-1">
        <%#= f.label 'Events Per Week', class: 'text-capitalize fs-14 col-8 col-md-9 ' %>
        <p class="text-capitalize fs-14 col-6 col-md-6">No of Event
        <%= image_pack_tag "simulation/ic_info.svg", class: "ml-1", alt: '', 'data-toggle': 'tooltip', 'data-placement': 'right', title: 'Events Per Week.' %>
        </p>
      <%= f.number_field :event_per_year, autofocus: true, placeholder: 0,  class: 'form-control col-3 col-md-2 d-inline simulation-text-field', required: true, 'data-parsley-errors-container'=> ".event_per_year_error"%>
        <%= f.select :event_type, options_for_select(Simulation::SELECT_OPTIONS, selected: f.object.event_type), {include_blank: 'Type'}, {class: "form-control product-selection col-2 col-md-3 fs-14 ml-1"}%>
        <ul class="event_per_year_error"></ul>
      </div>
      <div class="row align-items-center">
        <%#= f.label :daily_seating_capacity, class: 'text-capitalize fs-14 col-8 col-md-9 ' %>
        <p class="text-capitalize fs-14 col-8 col-md-9">Daily Seating Capacity
        <%= image_pack_tag "simulation/ic_info.svg", class: "ml-1", alt: '', 'data-toggle': 'tooltip', 'data-placement': 'right', title: 'Daily Seating Capacity.' %>
        </p>
        <%= f.number_field :daily_seating_capacity, autofocus: true, placeholder: 0, class: 'form-control col-3 col-md-2 d-inline simulation-text-field mt-1', required: true %>
      </div>
    </div>

    <div class="px-3 border py-2 border-light">
      <%= f.label 'Venue Visitor Attendance', class: 'text-capitalize fs-16 fw-600' %>
      <div class=" row align-items-center ">
        <%#= f.label 'Estimated Avg Annual Attendance(%)', class: 'text-capitalize fs-14 col-8 col-md-9 ' %>
        <p class="text-capitalize fs-14 col-8 col-md-9">Estimated Avg Annual Attendance(%)
        <%= image_pack_tag "simulation/ic_info.svg", class: "ml-1", alt: '', 'data-toggle': 'tooltip', 'data-placement': 'right', title: 'Estimated Avg Annual Attendance(%)' %>
        </p>
        <%= f.number_field :annual_attendance_per, autofocus: true, placeholder: '0%', class: 'form-control col-3 col-md-2 d-inline simulation-text-field', required: true,'data-parsley-required-message' => 'This value is required.', 'data-parsley-type' => "number",step: '0.01', 'data-parsley-type-message' => 'Only digits are allowed', required: true, min: 0 %>
      </div>
      <div class=" row align-items-center ">
        <%#= f.label "Estimated % Visitor Wifi Login's ", class: 'text-capitalize fs-14 col-8 col-md-9' %>
        <p class="text-capitalize fs-14 col-8 col-md-9">Estimated % Visitor Wifi Login's
        <%= image_pack_tag "simulation/ic_info.svg", class: "ml-1", alt: '', 'data-toggle': 'tooltip', 'data-placement': 'right', title: "Estimated % Visitor Wifi Login's." %>
        </p>
        <%= f.number_field :visitor_wifi_login, autofocus: true, autocomplete: "", placeholder: '0%', class: 'form-control col-3 col-md-2 d-inline simulation-text-field mt-1','data-parsley-required-message' => 'This value is required.', 'data-parsley-type' => "number",step: '0.01', 'data-parsley-type-message' => 'Only digits are allowed', required: true, min: 0 %>
      </div>
    </div>

    <div class="px-3 border py-2 border-light">
      <%= f.label :cost_lp_impression, 'LP CPM Cost', class: 'text-capitalize fs-16 fw-600' %>
      <div class=" row align-items-center ">
        <%#= f.label :cost_lp_impression, "Cost LP Impression",class: 'text-capitalize fs-16 col-8 col-md-9 ' %>
        <p class="text-capitalize fs-14 col-8 col-md-9">Cost LP Impression
        <%= image_pack_tag "simulation/ic_info.svg", class: "ml-1", alt: '', 'data-toggle': 'tooltip', 'data-placement': 'right', title: "Cost LP Impression" %>
        </p>
        <%= f.text_field :cost_lp_impression, autofocus: true, autocomplete: "", placeholder: '$0.00', class: 'form-control col-3 col-md-2 d-inline simulation-text-field percentageField','data-parsley-required-message' => 'Please enter Cost LP Impression', 'data-parsley-type-message' => 'Only digits are allowed', pattern: '\$\d+(?:\.\d+)?', required: true %>
      </div>
    </div>
    <div class="px-3 border py-2 border-light">
      <%= f.label :cpa_impression_cost, 'LP CPA Cost', class: 'text-capitalize fs-16 fw-600' %>
      <div class=" row align-items-center ">
        <%#= f.label :cpa_impression_cost, "Cost CPA Impression",class: 'text-capitalize fs-14 col-8 col-md-9 ' %>
        <p class="text-capitalize fs-14 col-8 col-md-9">Cost CPA Impression
        <%= image_pack_tag "simulation/ic_info.svg", class: "ml-1", alt: '', 'data-toggle': 'tooltip', 'data-placement': 'right', title: "Cost CPA Impression" %>
        </p>
        <%= f.text_field :cpa_impression_cost, autofocus: true, autocomplete: "", placeholder: '$0.00', class: 'form-control col-3 col-md-2 d-inline simulation-text-field percentageField','data-parsley-required-message' => 'Please enter Cost LP Impression', pattern: '\$\d+(?:\.\d+)?', 'data-parsley-type-message' => 'Only digits are allowed', required: true %>
      </div>
    </div>
    <div class="px-3 border py-2 border-light">
      <%= f.label :event_usage_impression, 'Visitor WIFI Impressions', class: 'text-capitalize fs-16 fw-600' %>
      <div class=" row align-items-center ">
        <%#= f.label 'Daily/Event Usage Impression', class: 'text-capitalize fs-14 col-8 col-md-9 ' %>
        <p class="text-capitalize fs-14 col-8 col-md-9">Daily/Event Usage Impression
        <%= image_pack_tag "simulation/ic_info.svg", class: "ml-1", alt: '', 'data-toggle': 'tooltip', 'data-placement': 'right', title: "Daily/Event Usage Impression" %>
        </p>
        <%= f.number_field :event_usage_impression, autofocus: true, autocomplete: "", placeholder: '0', class: 'form-control col-3 col-md-2 d-inline simulation-text-field','data-parsley-required-message' => 'Please enter Daily/Event Usage Impression', 'data-parsley-type' => "number",step: '0.01', 'data-parsley-type-message' => 'Only digits are allowed', required: true, min: 0 %>
      </div>
    </div>

    <div class="px-3 border py-2 border-light">
      <%= f.label :cpm_impression_cost, 'CPM Impression Cost', class: 'text-capitalize fs-16 fw-600' %>
      <div class=" row align-items-center ">
        <%#= f.label :cpm_impression_cost, 'Per Day/Event', class: 'text-capitalize fs-14 col-8 col-md-9 ' %>
        <p class="text-capitalize fs-14 col-8 col-md-9">Per Day/Event
        <%= image_pack_tag "simulation/ic_info.svg", class: "ml-1", alt: '', 'data-toggle': 'tooltip', 'data-placement': 'right', title: "Per Day/Event" %>
        </p>
        <%= f.text_field :cpm_impression_cost, autofocus: true, autocomplete: "", placeholder: '$0.00', class: 'form-control col-3 col-md-2 d-inline simulation-text-field percentageField', 'data-parsley-required-message' => 'Please enter CPM Impression Cost', pattern: '\$\d+(?:\.\d+)?', step: '0.01', 'data-parsley-type-message' => 'Only digits are allowed', required: true %>
      </div>
    </div>

    <div class="px-3 border py-2 border-light">
      <%= f.label 'Venue Contract Term', class: 'text-capitalize fs-16 fw-600' %>
      <div class=" row align-items-center">
        <%#= f.label 'No of Months', class: 'text-capitalize fs-14 col-8 col-md-9 ' %>
        <p class="text-capitalize fs-14 col-8 col-md-9">No of Months
        <%= image_pack_tag "simulation/ic_info.svg", class: "ml-1", alt: '', 'data-toggle': 'tooltip', 'data-placement': 'right', title: "No of Months" %>
        </p>
        <%= f.number_field :contract_month, autofocus: true, autocomplete: "", placeholder: '0', class: 'form-control col-3 col-md-2 d-inline simulation-text-field', required: true %>
      </div>
    </div>

    <div>
      <% btn_name = method_name.eql?(:put) ? 'Update' : 'Save' %>
      <%= f.submit btn_name, class: "btn btn-primary border mt-2" %>
      <!-- <button type="button" class="btn btn-light bg-light-gray text-dark" data-dismiss="modal">Close</button> -->
    </div>
  <% end %>
</div>
