<section class="content-wrapper tab-section simulation-tab">
  <div class="page-title border-bottom title-border">
    <div class="content px-5">
      <div class="row">
        <div class="col-lg-12 breed-outer">
					<div class="simulation-breed">
						<% unless venue_contact?(current_user) %>
							<h5 class="text-gray d-inline"><%= link_to 'Businesses', businesses_path, class: 'text-gray' %></h5>
							<h5 class="text-gray d-inline"> <i class="fa fa-angle-right"></i></h5>
						<% end %>
						<% if @simulation.present? &&  @venue.present? %>
							<h5 class="text-dark d-inline"><%= link_to "#{ @venue&.name}", venue_path(@venue.id), class: 'text-gray' %></h5> <i class="fa fa-angle-right"></i>
						<% end %>
						<h5 class="text-dark d-inline">View Simulation</h5>
					</div>
					<!-- <div class="mx-4 mt-3  d-inline simulation-btn-1"> -->
						<%#= link_to "Input Simulation Data", new_simulation_path, remote: true, class: 'btn btn-primary' %>
					<!-- </div> -->
        </div>
      </div>
		</div>
	</div>
  <div class="content position-relative px-5 simulation-content">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<div class="simulations-tab d-flex mr-auto mt-1">
				<li class="nav-item mt-3">
					<a class="nav-link active fs-20 mx-3" id="simulation-analytics-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Simulation Analytics</a>
				</li>
				<li class="nav-item mt-3">
					<a class="nav-link fs-20 mx-3" id="pos-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">POS</a>
				</li>
				<li class="nav-item mt-3">
					<a class="nav-link fs-20 mx-3" id="iptv-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">IPTV</a>
				</li>
				<li class="nav-item mt-3 mr-auto">
					<a class="nav-link fs-20 mx-3" id="live-analytics-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Live Analytics</a>
				</li>
			</div>
			<li class="mt-3 mb-2">
				<div class="dropdown mr-3">
					<button class="btn btn-white border dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Select Brand
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item">Apple</a>
						<a class="dropdown-item">Microsoft</a>
					</div>
				</div>
			</li>
			<li class="mt-3">
				<div class="dropdown mr-3">
					<button class="btn btn-white border dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Revenue Source
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						<a class="dropdown-item">Apple</a>
						<a class="dropdown-item">Microsoft</a>
					</div>
				</div>
			</li>
			<li class="mt-3">
				<div class="mr-3 d-inline">
					<%= image_pack_tag "simulation/ic_print.svg", class: 'mr-4' %>
					<%= image_pack_tag "simulation/ic_pdf.svg", class: 'mr-4' %>
					<%= image_pack_tag "simulation/ic_share.svg", class: '' %>
				</div>
			</li>
			<li class="mt-3">
				<div class="d-inline simulation-btn-2">
					<%#= link_to "Input Simulation Data", new_simulation_path, remote: true, class: 'btn btn-primary' %>
					<%= select_tag :option, options_for_select(Simulation::CHART_OPTIONS, params[:option]), class: 'w-100 chart_option btn-white btn border' %>
				</div>
			</li>
		</ul>
		<%# <div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">...</div>
			<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
			<div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
		</div> %>
    <!-- <div class='row mt-2'> -->
 <!--    	<div class="col-md-3">
        <div class="form-group">
          <div class="admin-select down-arrow w-100">
            <%#= image_pack_tag "simulation/ic_calender.svg", class: "calendar", alt: '' %>
            <%#= text_field_tag :start_date, DateTime.now.strftime('%m/%d/%Y %I:%M %p'), class: 'form-control datetimepickerinput pl-5' %>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <div class="admin-select down-arrow w-100">
            <%#= image_pack_tag "simulation/ic_calender.svg", class: 'calendar', alt: '' %>
            <%#= text_field_tag :end_date, DateTime.now.strftime('%m/%d/%Y %I:%M %p'), class: 'form-control datetimepickerinput pl-5' %>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <%#= link_to "Search", 'javascript::void(0)', class: 'btn btn-primary search-btn' %>
      </div> -->
      <!-- <div class="col-md-2 mx-4 ml-auto">
	      <div class="form-group">
	        <%#= select_tag :option, options_for_select(Simulation::CHART_OPTIONS, params[:option]), class: 'w-100 chart_option btn-white btn border' %>
	      </div>
	    </div> -->
    <!-- </div> -->
    <div class="row mt-2">
    	<div class="col-md-4">
		  		<%= render partial: 'form' %>
		  </div>
    	<div class="col-md-8">
		    <div id="chart-records">
		    	<%= render partial: 'chart_records'%>
		    </div>
		  </div>
	  </div>
	  <div class="row">
	  	<div class="col-md-12">
	  		<div id="full-chart-records">
	  			<%= render partial: 'full_chart_records' %>
	  		</div>
	  	</div>
	  </div>
	  <div class="row">
	  	<div class="col-md-12">
	  		<%= render partial: 'simulation_comment' unless @simulation.new_record? %>
	  	</div>
	  </div>
</section>
<script>
	$(document).on('change', '.chart_option', function(){
	  selected_options = $('.chart_option option:selected').val()
	  venue_id = "<%= params[:venue_id] %>"
	  $.ajax({
	    url: '/simulations',
	    type: "GET",
	    data: {"option" : selected_options, venue_id: venue_id},
	    dataType: "script",
	    success: function (data) { 
	      console.log("data successfully updated")
	    }
	  })
	})
	$(document).on('click', '.search-btn', function(){
	  start_date = $('#start_date').val()
	  end_date = $('#end_date').val()

	  $.ajax({
	    url: '/simulations',
	    type: "GET",
	    data: {"start_date" : start_date, "end_date": end_date, 'option': 'Date Range' },
	    dataType: "script",
	    success: function (data) { 
	      console.log("data successfully updated")
	    }
	  })
	})
	$(document).ready(function(){
		var SearchInput = $('#simulation_event_per_year');
		SearchInput.val(SearchInput.val());
		var strLength= SearchInput.val().length;
		SearchInput.focus();
		SearchInput[0].setSelectionRange(strLength, strLength);
	})
</script>