<div class="modal-header d-flex justify-content-around align-items-center text-white">
  <% title_half = (params[:action] == 'new' or params[:action] == 'create') ? 'Create' : 'Edit' %>
  <h5 class="modal-title"> <%= title_half %> Note</h5>
    <button type="button" class="close fa fa-expand-alt text-white ">
    <button type="button" class="close text-white ml-0" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true" class="fa fa-times"></span>
  </button>
</div>
<%= form_for [@note.notable, @note] do |f| %>
  <div class="modal-body">
    <div class="form-group mb-5">
      <%= f.cktext_area :description, class: 'form-control', ckeditor:{ uiColor: '#FFFFFF', toolbar: 'mini', toolbarLocation: 'bottom' } %>
    </div>
  </div>
  <div class="modal-footer modal-footer-fixed bg-light-bottom mt-4" style="left: 0">
    <div class="form-group mr-auto">
      <div class="checkbox-area custom-control custom-checkbox">
        <%= check_box_tag :create_a_task_to_follow_up, 'yes', false, class: "custom-control-input" %>
        <%= label_tag :create_a_task_to_follow_up, "Create a task to follow up", for: "create_a_task_to_follow_up", class: "custom-control-label fs-14 fw-600" %>
      </div>
    </div>
    <%= f.hidden_field :notable_type, value: f.object.notable_type %>
    <%= f.hidden_field :notable_id, value: f.object.notable_id %>
    <% save_button_title = f.object.new_record? ? 'Create' : 'Save' %>
    <%= f.submit save_button_title, class: "btn btn-primary" %>
    <button type="button" class="btn btn-light bg-light-gray text-dark" data-dismiss="modal">Close</button>
  </div>
<% end %>
