<div class='row meeting-form'>
  <div class='col-md-12'>
    <div class="form-group">
      <%= label_tag 'title' %>
      <%= f.text_field :title, required: true, placeholder: 'What are you meeting about?', class: 'form-control' %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row" >
      <div class="col-sm-6">
        <div class="form-group">
          <%= label_tag :attendees %>
          <%= select_tag :attendees, grouped_options_for_select(all_attendees, value_of_attendees_for_select(f.object)), multiple: true, required: true, title: 'Select Attendees', class: 'form-control select_picker multi_select', data: { "live-search": true } %>
        </div>
      </div>
      <div class="col-sm-6">
        <%= label_tag :date %>
        <%= f.text_field :date, required: true, class: 'form-control datepicker', value: pretty_date(f.object.date), autocomplete: 'off' %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row" data-datetimepair-container>
      <div class="col-sm-6">
        <label>Start Time</label>
        <%= f.text_field :start_time, required: true, class: 'form-control timepicker timestart', value: pretty_time(f.object.start_time) %>
      </div>
      <div class="col-sm-6">
        <label>End Time</label>
        <%= f.text_field :end_time, required: true, class: 'form-control timepicker timeend', value: pretty_time(f.object.end_time) %>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group">
      <%= label_tag :attendee_description %>
      <%= f.cktext_area :description, class: 'form-control',required: true, placeholder: 'Start typing to leave a note', ckeditor:{ uiColor: '#FFFFFF', toolbar: 'mini', toolbarLocation: 'bottom', extraPlugins: 'confighelper', height: 100 }, 'data-parsley-required-message': 'Please Enter a Note', 'data-parsley-trigger': 'change keyup' %>
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group team-note">
      <%= label_tag :team_note %>
      <%= f.cktext_area :team_note, class: 'form-control',required: true, placeholder: 'Start typing to leave a note', ckeditor:{ uiColor: '#FFFFFF', toolbar: 'mini', toolbarLocation: 'bottom', extraPlugins: 'confighelper', height: 100 }, 'data-parsley-required-message': 'Please Enter a Note', 'data-parsley-trigger': 'change keyup' %>
    </div>
  </div>
</div>
<style>
  .meeting-form .cke_bottom{
    margin-bottom: 0px !important;
  }
  .team-note .cke_bottom{
    margin-bottom: 80px !important;
  }
</style>