<table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background-color:#2E3F50; max-width: 550px;">
  <tbody>
    <%= render "devise/shared/header"%>
    <tr>
      <td>
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background:#ffffff;width:100%;">
          <tbody>
            <tr>
              <td style="direction:ltr;font-size:0px;padding:30px; text-align: center;">
                <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align:top;" width="100%">
                  <tr>
                    <td class="inner contents center" style="padding-top:15px;padding-bottom:15px;padding-right:30px;padding-left:30px;text-align:left;">
                      <p class="h1 center" style="Margin:0;text-align:center;font-family: 'SF Pro Display';font-weight:100;font-size:30px;Margin-bottom:26px;">Welcome</p>
                    </td>
                  </tr>
                  <tr>
                    <td class="title" style="font-size:24px; color: #111111; font-family: 'SF Pro Display'; font-weight: 400; padding-bottom: 30px;"><%= @user.full_name || 'User' %></td>
                  </tr>
                  <tr>
                    <td class="title" style="font-size:24px; color: #111111; font-family: 'SF Pro Display'; font-weight: 400; padding-bottom: 30px;"><%= @user.email %></td>
                  </tr>
                  <tr>
                    <td><p class="description center" style="font-family:'Muli','Arial Narrow',Arial;Margin:0;text-align:center;max-width:320px;color:#a1a8ad;line-height:24px;font-size:15px;Margin-bottom:10px;margin-left: auto; margin-right: auto;"><span style="color: rgb(161, 168, 173); font-family: Muli, &quot;Arial Narrow&quot;, Arial; font-size: 15px; text-align: center; background-color: rgb(255, 255, 255);">Click on the button below to confirm your account and set your password.</span></p></td>
                  </tr>
                  <tr>
                    <td style="padding-top: 40px;">
                    <%= link_to 'Continue', edit_password_url(@user, reset_password_token: @raw, new_user: true), class: 'btn', style: "background-color: #007AFF; border-radius: 3px; color: #fff; border-color: #007AFF;  padding: .6rem 1rem; font-family: 'SF Pro Text'; font-size: 17px;   font-weight: 500; border: transparent 1px solid; min-width: 226px;      border-radius: 5px;text-decoration:none;"%></td>
                  <%# </tr>
                  <tr>
                    <td style="font-size:14px; color: #444; font-family: 'SF Pro Display'; font-weight: 400; padding-top: 70px;">Confirm your account and change your password.</td>
                  </tr> %>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <%= render "devise/shared/footer"%>
  </tbody>
</table>
