

<div class="modal-header">
  <h5 class="modal-title">Add User</h5>
</div>
<div class="modal-body">
  <%= form_for @user, url: users_path, method: :post do |f| %>
    <%#= render "devise/shared/error_messages", resource: resource %>
    <div class="form-group">
      <%= f.label :email_address, class: 'text-capitalize fs-17 asterisk' %><br />
      <%= f.email_field :email, class:"form-control", placeholder:"Email Address", required: true  %>
    </div>

    <div class="form-group">
      <%= f.label :full_name, class: 'text-capitalize fs-17 asterisk' %><br />
      <%= f.text_field :full_name, class:"form-control", placeholder:"Full Name", required: true  %>
    </div>

    <div class="form-group">
      <%= f.label :phone_number, class: 'text-capitalize fs-17 asterisk' %><br />
      <%= f.text_field :phone_no, class:"form-control", placeholder:"Phone Number", required: true  %>
    </div>

    <div class="modal-footer modal-footer-fixed">
      <%= f.submit "Save", class: "btn btn-primary" %>
      <button type="button" class="btn btn-light bg-light-gray text-dark" data-dismiss="modal">Close</button>
    </div>
  <% end %>
</div>
