<div class="modal-header">
  <% title_half = (params[:action] == 'new' or params[:action] == 'create' or params[:add_more].present?) ? 'Add' : 'Edit' %>
  <h5 class="modal-title"><%= title_half %> User</h5>
  <div id="flashMessage", class="inner_flash_message"></div>
</div>
<div class="modal-body">
  <% path = (params[:action] == 'new' or params[:action] == 'create' or params[:add_more].present?) ? users_path : user_path(@user) %>
  <% method = (params[:action] == 'new' or params[:action] == 'create' or params[:add_more].present?) ? :post : :put %>
  <%= form_for @user, url: path, method: method, remote: true do |f| %>
    <%#= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <div class="">
        <% if @user.profile_pic.attached? %>
          <%= image_tag @user.profile_pic, class: 'img-boundary image-profile-pic' %>
        <% else %>
          <%= image_pack_tag 'home/profile_placeholder.svg', class: 'img-boundary image-profile-pic' %>
        <% end %>
        <div class="content-profile-info d-inline badge badge-edit">
          <label class="btn-avatar">
            <i class="fa fa-pencil-alt fs-16 text-white"></i>
            <span style="display:none;">
              <%= f.file_field :profile_pic, class: "avatar", id: "avatar-upload1", onchange: "readURL(this)", accept: "image/*" %>
            </span>
            <ul class="parsley-errors-list filled" id="parsley-id-5" aria-hidden="false">
              <li class="parsley-required" id="image-val-msg1" style="display: none">Please upload only image.
              </li>
            </ul>
          </label>
        </div>
        <%#= f.file_field :profile_pic, class: "avatar", id: "avatar-upload1", onchange: "readURL(this)", accept: "image/*" %>
        <%# <span class="badge badge-edit fa fa-pencil-alt"> </span> %>
      </div>
    </div>

    <div class="form-group mt-4">
      <%= f.label :email_address, class: 'text-capitalize fs-17 asterisk' %><br />
      <%= f.email_field :email, class:"form-control", placeholder:"Email Address", required: true, disabled: !f.object.new_record?  %>
    </div>

    <% unless (params[:action] == 'new' or params[:action] == 'create' or params[:add_more].present?) %>
      <div class="form-group">
        <%= f.label :change_password, class: 'text-capitalize fs-17' %><br />  
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Password" value="**********" aria-label="Recipient's username" aria-describedby="basic-addon2" disabled>
          <div class="input-group-append">
            <span class="input-group-text"><%= link_to "Change", edit_credential_path(@user), remote: true %></span>
          </div>
        </div>
      </div>
    <% end %>

    <% Klass.user.fields.each do |field| %>
      <div class="form-group">
        <%= render partial: 'forms/field', locals: {f: f, field_name: field.name, field_label: field.label, column_type: field.column_type, data: @data, custom: field.custom, field: field, value: field.column_type == 'File' ? '' : @user.send(field.name)} %>
      </div>
    <% end %>

    <div class="modal-footer modal-footer-fixed">
      <% save_button_title = f.object.new_record? ? 'Add' : 'Save' %>
      <%= f.submit save_button_title, class: "btn btn-primary" %>
      <%= f.submit 'Add More', name: 'add_more', value: 'Add More', class: "btn btn-primary" %>
      <button type="button" class="btn btn-light bg-light-gray text-dark" data-dismiss="modal">Close</button>
    </div>
  <% end %>
</div>
<script>
 function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function(e) {
        $('.image-profile-pic').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
  $("#avatar-upload1").change(function() {
    var val = $(this).val();
    if (!val.match(/(?:gif|jpg|png|bmp|jpeg|svg)$/)) {
      $("#image-val-msg").css('display', 'block');
      return false
    }
    $('#img_prev1').removeClass('hidden');
    readURL(this);
  });
  var autocomplete;
  var address1Field;
  var address2Field;
  var postalField;

  function initAutocomplete() {
    address1Field = document.querySelector("#user_street_address");
    address2Field = document.querySelector("#address2");
    postalField = document.querySelector("#user_zip_code");
    autocomplete = new google.maps.places.Autocomplete(address1Field, {
      fields: ["address_components", "geometry"],
      types: ["address"],
    });
    address1Field.focus();
    autocomplete.addListener("place_changed", fillInAddress);
  }

  function fillInAddress() {
    const place = autocomplete.getPlace();
    var address1 = "";
    var postcode = "";
    for (const component of place.address_components) {
      const componentType = component.types[0];

      switch (componentType) {
        case "street_number": {
          address1 = `${component.long_name} ${address1}`;
          break;
        }

        case "route": {
          address1 += component.short_name;
          break;
        }

        case "postal_code": {
          postcode = `${component.long_name}${postcode}`;
          break;
        }

        case "postal_code_suffix": {
          postcode = `${postcode}-${component.long_name}`;
          break;
        }
        case "locality":
          $("#user_city").val(component.long_name)
          break;

        case "administrative_area_level_1": {
          $("#user_state").val(component.long_name)
          break;
        }
        case "country":
          console.log("country", component.long_name)
          break;
      }
    }
    address1Field.value = address1;
    postalField.value = postcode;
    // address2Field.focus();
  }
</script>
