<div class="mt-2">
  <%= form_for [@attachment.attachable, @attachment], class: 'form', remote: true do |f| %>
    <div class="">
      <div class="file-upload-wrapper my-3" data-text="Select your file!">
        <%= f.file_field :venue_file, class:"form-control file-upload-field", placeholder:"Enter Comment", required: true %>
      </div>
     
      <%= f.hidden_field :attachable_type, value: f.object.attachable_type %>
      <%= f.hidden_field :attachable_id, value: f.object.attachable_id %>
      <%= f.hidden_field :venue_id, value: @attachment.attachable.id %>
      <%= f.submit 'Add', class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<script>
  $("form").on("change", ".file-upload-field", function(){ 
      $(this).parent(".file-upload-wrapper").attr("data-text", $(this).val().replace(/.*(\/|\\)/, '') );
  });
</script>