<div class="d-flex align-items-center flex-wrap justify-content-between mt-3 search-card">
  <div class="my-1">
    <%= link_to "Edit Event", edit_venue_event_path(venue, event, inside: true), remote: true, class: 'btn btn-primary my-1' %>
    <%= link_to "Add Event", new_venue_event_path(venue, inside: true), remote: true, class: 'btn btn-primary ml-2 my-1' %>
  </div>
  <div class="cursor-not-allowed">
    <a class="btn btn-primary text-white btn-black my-1 not-allowed"> View Analytics</a>
  </div>
</div>
<div class="py-3 position-relative tab-section shadow mb-3 bg-white rounded mt-4">
  <div class="d-flex align-items-center justify-content-between">
    <ul class="nav nav-tabs mb-0" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link fs-18 mx-sm-2 header_tabs active" id="event-detail-tab" data-toggle="tab"
          href="#event-detail-tab-body" role="tab" aria-controls="event-detail-tab-body"
          aria-selected="false">Event Details
        </a>
      </li>
    </ul>
  </div>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade  active show" id="event-detail-tab-body" role="tabpanel"
      aria-labelledby="event-detail-tab">
      <div class=" mb-3">
        <div class="d-md-flex align-items-start mt-4 pt-2">
          <div class="mr-5">
            <div class="mb-3">
              <p class="text-gray-light fs-14 text-uppercase">Start Date</p>
              <p class="text-dark2 fw-700 fs-15"><%= event.start_date.try(:strftime, '%m/%d/%Y') %><!-- 03/26/1972 -->
              </p>
            </div>
            <div class="mb-3">
              <p class="text-gray-light fs-14 text-uppercase">Start Time</p>
              <p class="text-dark2 fw-700 fs-15"><%= event.start_time.try(:strftime, "%I:%M %p") %>
              </p>
            </div>
            <div class="mb-3">
              <p class="text-gray-light fs-14 text-uppercase">End Date</p>
              <p class="text-dark2 fw-700 fs-15"><%= event.end_date.try(:strftime, '%m/%d/%Y') %>
              </p>
            </div>
            <div class="mb-3">
              <p class="text-gray-light fs-14 text-uppercase">End Time</p>
              <p class="text-dark2 fw-700 fs-15"><%= event.end_time.try(:strftime, "%I:%M %p") %>
              </p>
            </div>
            <div class="mb-3">
              <p class="text-gray-light fs-14 text-uppercase no-wrap">Total Game Time</p>
              <p class="text-dark2 fw-700 fs-15"><%= time_diff(event.start_date_time, event.end_date_time) %>
              </p>
            </div>
          </div>

          <div class="event-detail-right">
            <p class="text-dark2 fw-600 fs-19"><%= event.title %> Description</p>
            <p class="text-light-gray mt-3 fs-14 mb-4"><%= event.description %></p>

            <p class="text-dark2 fw-600 fs-19 mb-4">Brands Participating
            </p>

            <% event.brands.each do |brand| %>
              <div class="mb-3">
                <%= image_pack_tag "sample/#{brand_logo(brand)}", class: 'img-fluid', width: '36' %>
                <span class="text-dark2 fw-600 fs-16 ml-2"><%= brand.name %></span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
