<div class="d-flex align-items-center flex-wrap justify-content-between mt-3 search-card event-top-bar">
  <div class="my-1">
    <%= link_to "Edit Event", edit_venue_event_path(venue, event, inside: true), remote: true, class: 'btn btn-primary my-1' %>
    <%= link_to "Add Event", new_venue_event_path(venue, inside: true), remote: true, class: 'btn btn-primary ml-2 my-1' %>
  </div>
  <div class="cursor-not-allowed">
    <a class="btn btn-primary text-white btn-black my-1 not-allowed"> View Analytics</a>
  </div>
</div>
<div class="py-3 position-relative tab-section shadow mb-3 bg-white rounded mt-4">
  <div class="d-flex align-items-center justify-content-between">
    <ul class="nav nav-tabs mb-0" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link fs-18 mx-sm-2 header_tabs active sub_event_tabs" id="event-detail-tab" data-toggle="tab"
          href="#event-detail-tab-body" role="tab" aria-controls="event-detail-tab-body"
          aria-selected="false">Event Details
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link fs-18 mx-sm-2 header_tabs sub_event_tabs" id="revenue-tab" data-toggle="tab"
          href="#revenue-tab-body" role="tab" aria-controls="revenue-tab-body"
          aria-selected="true">Revenue Sources
        </a>
      </li>
    </ul>
    <div class="mt-2 mt-md-0 d-none text-nowrap revenue_source_create_div my-1" >
      <%= link_to "Add Revenue Source", new_venue_revenue_source_path(venue, event_id: event.id), remote: true, class: "btn btn-primary add_revenue_source text-nowrap ml-3" %>
    </div>
  </div>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade  active show" id="event-detail-tab-body" role="tabpanel"
      aria-labelledby="event-detail-tab">
      <%= render 'event_details_tab', event: event %>
    </div>
    <div class="tab-pane fade" id="revenue-tab-body" role="tabpanel" aria-labelledby="revenue-tab">
      <% revenue_brands = event.brands %>
      <%= render partial: 'revenue_sources/revenue_brand', collection: revenue_brands, locals: { event: event, venue: venue } %>
    </div>
  </div>
</div>
<script>
  $('.sub_event_tabs').on('click', function(){
    if($(this).attr('id') == 'revenue-tab'){
      $('.event-top-bar').addClass('d-none').removeClass('d-flex');
      $('.revenue_source_create_div').removeClass('d-none').addClass('d-flex');
    } else {
      $('.event-top-bar').addClass('d-flex').removeClass('d-none');
      $('.revenue_source_create_div').removeClass('d-flex').addClass('d-none');
    }
  })
</script>
