<div class="admin-table table-responsive mt-3 overflow-hidden">
  <div class='row mt-3'>
    <div class="col-12">
      <% if klass.fields.present? %>
        <ul class="row fields-sortable connectedSortable<%= klass.name.snakecase %>" data-klass-id="<%= klass.id %>">
          <% klass.fields.each do |field| %>
            <li class="col-sm-12" data-field-id="<%= field.id %>">
              <div class="block-ui-box d-flex">
                <div class="row mr-auto">
                  <div class="col-lg-12 md-pd-10 text-break">
                    <b class="<%= 'color-red' if field.required? %>"><%= field.label %></b>
                    <span style="opacity:0.5;"><%= field.column_type %></span>
                  </div>
                </div>
                <div class="action-area-buttons">
                  <%= link_to edit_field_path(field), remote: true, class: 'common-link pull-right edit-delete icon' do %>
                    <%= image_pack_tag 'home/ic_edit.svg'%>
                  <% end %>
                  <%= link_to field_path(field), method: :delete, remote: true, data: {confirm: 'Do you want to Delete this field?'}, class: 'common-link pull-right edit-delete icon' do %>
                    <%= image_pack_tag 'home/ic_delete.svg'%>
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      <% else %>
        <div class="text-center">No Custom Fields are available</div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $( ".fields-sortable" ).sortable({
      items: '> li:not(.pin)',
      connectWith: ".connectedSortable<%= klass.name.snakecase %>",
      start: function(e, ui){
        ui.placeholder.height(ui.item.height()); // Fixes placeholder not visible due to height issues
      },
      stop: function(event, ui) {
        let klassId = $(this).attr('data-klass-id');
        let groupId = $(this).attr('data-group-id');
        let fieldIds = $(this).sortable('toArray', {attribute: "data-field-id"});
        $.ajax({
          url: "<%= change_position_fields_url %>",
          type: 'GET',
          data: {
            klass_id: klassId,
            group_id: groupId,
            field_ids: fieldIds
          },
          dataType: "script"
        });
      },
      receive: function(event, ui) {
        let klassId = $(this).attr('data-klass-id');
        let groupId = $(this).attr('data-group-id');
        let fieldIds = $(this).sortable('toArray', {attribute: "data-field-id"});
        $.ajax({
          url: "<%= change_position_fields_url %>",
          type: 'GET',
          data: {
            klass_id: klassId,
            group_id: groupId,
            field_ids: fieldIds
          },
          dataType: "script"
        });
      }
    });
  })
</script>
