<div class="content position-relative tab-section ">
  <button class="toggle-sidebar-button pl-3 pr-3 py-2 bg-white web-btn">
    <i class="icon-box fa fa-angle-double-left"></i>
  </button>
  <div class='d-md-flex align-items-center justify-content-between'>
    <ul class="nav nav-tabs my-1" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link fs-16 mx-sm-2 header_tabs active" id="details-tab" data-toggle="tab"
          href="#details-tab-body" role="tab" aria-controls="details-tab-body" aria-selected="true">Details
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link fs-16 mx-sm-2 header_tabs" id="notes-tab" data-toggle="tab" href="#notes-tab-body"
          role="tab" aria-controls="notes-tab-body" aria-selected="false">Notes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fs-16 mx-sm-2 header_tabs" id="emails-tab" data-toggle="tab" href="#emails-tab-body" role="tab"
          aria-controls="emails-tab-body" aria-selected="false">Email</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fs-16 mx-sm-2 header_tabs" id="meetings-tab" data-toggle="tab" href="#meetings-tab-body"
          role="tab" aria-controls="meetings-tab-body" aria-selected="false">Meetings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fs-16 mx-sm-2 header_tabs events_enable" id="events-tab" data-toggle="tab" href="#events-tab-body" role="tab"
          aria-controls="events-tab-body" aria-selected="false">Events</a>
      </li>
      <li class="nav-item cursor-not-allowed">
        <a class="nav-link fs-16 mx-sm-2 header_tabs not-allowed" id="venue_contacts-tab" data-toggle="tab"
          href="#venue_contacts-tab-body" role="tab" aria-controls="venue_contacts-tab-body" aria-selected="false">Venue
          Contacts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fs-16 mx-sm-2 header_tabs brands_enable" id="brands-tab" data-toggle="tab" href="#brands-tab-body" role="tab"
          aria-controls="brands-tab-body" aria-selected="false">Brands</a>
      </li>
      <li class="nav-item">
        <a class="nav-link fs-16 mx-sm-2 header_tabs" id="simulation-tab" data-toggle="tab" href="#simulation-tab-body" role="tab"
          aria-controls="simulation-tab-body" aria-selected="false">Simulation</a>
      </li>
      <li class="nav-item mr-auto">
        <a class="nav-link fs-16 mx-sm-2 header_tabs" id="attachment-tab" data-toggle="tab" href="#attachment-tab-body" role="tab"
          aria-controls="attachment-tab-body" aria-selected="false">Attachments</a>
      </li>
    
      <% set_google_token_flag = check_google_token %>
    </ul>
    <div class="mt-2 mt-md-0 d-none text-nowrap my-1">
      <%= link_to "Sync Email", emails_url, remote: true, class: 'btn btn-primary sync_email' %>
    </div>
    <div class="mt-2 mt-md-0 d-none text-nowrap meeting_create_button_div my-1 <%= 'cursor-not-allowed' if set_google_token_flag %>" title="<%= 'Please link your email to create meeting' if set_google_token_flag %>">
      <%= link_to "Create Meeting", new_meeting_path(meetingable: @venue.to_polymorphic), remote: true, class: "btn btn-primary add_note text-nowrap ml-3 create_meeting #{'not-allowed' if set_google_token_flag}", title: "#{'Please relogin in Gmail' if set_google_token_flag}" %>
    </div>
  </div>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade active show" id="details-tab-body" role="tabpanel" aria-labelledby="details-tab">
      <%= render 'details_list', klass: Klass.venue, venue: @venue %>
    </div>
    <div class="tab-pane fade notes-list" id="notes-tab-body" role="tabpanel" aria-labelledby="notes-tab">
      <%= render 'notes_list', notes: @notes, notable: @venue %>
    </div>
    <div class="tab-pane fade" id="emails-tab-body" role="tabpanel" aria-labelledby="emails-tab">
      <%= render 'emails_list', emails: @emails %>
    </div>
    <div class="tab-pane fade" id="meetings-tab-body" role="tabpanel" aria-labelledby="meetings-tab">
      <%= render 'meetings_list', meetings: @meetings, venue: @venue %>
    </div>
    <div class="tab-pane fade" id="events-tab-body" role="tabpanel" aria-labelledby="events-tab">
      <%= render 'events_list', events: @events, venue: @venue %>   
    </div>
    <div class="tab-pane fade" id="venue_contacts-tab-body" role="tabpanel" aria-labelledby="venue_contacts-tab">
      <div class="admin-table bg-white table-responsive mt-3 overflow-hidden">
      </div>
    </div>
    <div class="tab-pane fade" id="brands-tab-body" role="tabpanel" aria-labelledby="brands-tab">
      <div class="admin-table bg-white table-responsive mt-3 overflow-hidden">
        <%= render 'brands_list', brands: @brands, venue: @venue %>
      </div>
    </div>
    <div class="tab-pane fade" id="simulation-tab-body" role="tabpanel" aria-labelledby="simulation-tab">
      <div class="admin-table bg-white table-responsive mt-3 overflow-hidden">
        <%= render 'simulation_list' %>
      </div>
    </div>
    <div class="tab-pane fade" id="attachment-tab-body" role="tabpanel" aria-labelledby="attachment-tab">
      <div class="admin-table bg-white table-responsive mt-3 overflow-hidden attachment-tab-div">
        <div class="row">
        </div>
        <%= render 'attachment_records', venue: @venue, attachable: @attachable %>
      </div>
    </div>
  </div>
</div>
