<div class="content position-relative p-4">
  <%= link_to businesses_path, class: 'fs-14 text-blue1 fw-600' do %>
    <i class="fa fa-chevron-left mr-2"></i>All Venues
  <% end %>
  <div class="d-flex mt-3">
    <div class="mr-3">
      <%= image_pack_tag 'home/ic_profile_pic.svg', class: "img-fluid" %>
    </div>
    <div class="">
      <h3 class="fw-400 text-break text-dark2 fs-24">Basket Ball Ground</h3>
      <h6 class="fs-16  text-dark2">(925) 925-9259</h6>
      <div class="mt-3">
        <ul id="mylist" class="text-center d-flex">
          <li class="m-0 mr-3">
            <a class="btn sharp fs-12 text-dark2" href="javascript:(0)">
              <i><%= image_pack_tag 'home/ic_note.svg' %></i>Notes
            </a>
          </li>
          <li class="m-0 mr-3">
            <a class="btn sharp fs-12 text-dark2" href="javascript:(0)">
              <i><%= image_pack_tag 'home/ic_email.svg' %></i>Email
            </a>
          </li>
          <li class="m-0 mr-3">
            <a class="btn sharp fs-12 text-dark2" href="javascript:(0)">
              <i><%= image_pack_tag 'home/ic_meet.svg' %></i>Meet
            </a>
          </li>
          <li class="m-0 mr-3">
            <a class="btn sharp fs-12 text-dark2" href="javascript:(0)">
              <i><%= image_pack_tag 'home/ic_events.svg' %></i>Events
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row border p-4">
  <div class="col-md-12">
    <a class="text-dark fw-500 d-block d-flex collapsed" data-toggle="collapse" href="#collapseExample"
      role="button" aria-expanded="false" aria-controls="collapseExample">
      <span class="mr-auto fs-16 fw-600 text-dark2">About Business</span><i class="fa fa-chevron-down"></i>
    </a>
  </div>
</div>
<div class="collapse" id="collapseExample">
  <div class="card card-body border-0">
    <div class="row">
      <div class="col-md-12 text-light-gray fs-16">
        This is an amazing company.
        Lorem Ipsum is simply dummied text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
        into electronic typesetting, remaining essentially unchanged.
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-6">
        <p class="fw-700 fs-16">Domain Name:</p>
        <p class="text-gray fs-15">www.youtube.com</p>
      </div>
      <div class="col-6">
        <p class="fw-700 fs-16">Industry:</p>
        <p class="text-gray fs-15">Retail trade</p>
      </div>
      <div class="col-6 mt-3">
        <p class="fw-700 fs-16">Type:</p>
        <p class="text-gray fs-15">Vandor</p>
      </div>
      <div class="col-6 mt-3">
        <p class="fw-700 fs-16">Zip Code:</p>
        <p class="text-gray fs-15">01234</p>
      </div>
      <div class="col-6 mt-3">
        <p class="fw-700 fs-16">Address:</p>
        <p class="text-gray fs-15">E 49th St</p>
      </div>
      <div class="col-6 mt-3">
        <p class="fw-700 fs-16">State:</p>
        <p class="text-gray fs-15">California</p>
      </div>
      <div class="col-6 mt-3">
        <p class="fw-700 fs-16">City:</p>
        <p class="text-gray fs-15">Los Angeles</p>
      </div>
      <div class="col-6 mt-3">
        <p class="fw-700 fs-16">No of Employees:</p>
        <p class="text-gray fs-15">50</p>
      </div>
      <div class="col-6 mt-3">
        <p class="fw-700 fs-16">Annual Revenue:</p>
        <p class="text-gray fs-15">500000.0</p>
      </div>
    </div>
  </div>
</div>