<button class="toggle-sidebar-button pl-3 pr-1 py-2 pt-2 bg-white mob-btn">
  <i class="icon-box fa fa-angle-double-left"></i></button>
<aside class="main-sidebar  pt-2 bg-white border-left" id="sticky">
  <div class="main-sidebar-inner">
    <div class="sidebar mb-1">
      <div class=" px-3 pt-4 mt-1">
        <div class="">
          <a class="d-block d-flex align-items-center justify-content-between" data-toggle="collapse"
            href="#collapseContact" role="button" aria-expanded="true" aria-controls="collapseExample">
            <div class="text-dark fw-500"><span class="mr-auto fs-17 fw-700 text-dark2">Venue Contacts(4)</span><i
                class="fa fa-chevron-down fs-14 ml-2"></i></div>
            <button class="text-blue1 fw-600 fs-14 add_btn">+ Add</button>
          </a>
        </div>
      </div>
      <div class="collapse show" id="collapseContact">
        <div class="card card-body border-0">
          <div class="row mb-3">
            <div class="col-md-12 text-gray fs-16 d-flex align-items-center">
              <%= image_pack_tag 'sample/profile_pic_1.png', class: 'img-fluid border-radius-50 contact_user' %>
              <div class="ml-2">
                <p class="fw-600 fs-17">Lyod May</p>
                <p class="fs-15 fw-400 text-gray">Lyodmay_exmplae.com</p>
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-12 text-gray fs-16 d-flex align-items-center">
              <%= image_pack_tag 'sample/profile_pic_2.png', class: 'img-fluid border-radius-50 contact_user' %>
              <div class="ml-2">
                <p class="fw-600 fs-17">Lyod May</p>
                <p class="fs-15 fw-400 text-gray">Lyodmay_exmplae.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar mb-1">
      <div class="px-3 pt-3">
        <div class="">
          <div class="d-block d-flex align-items-center justify-content-between venue-contact" data-toggle="collapse"
            href="#collapseAttach" role="button" aria-expanded="true" aria-controls="collapseExample">
            <div class="text-dark fw-500"><span class="mr-auto fs-17 fw-700 text-dark2 ">Attachments(<span class="total-count"><%= @venue.attachments.count %></span>)</span><i
                class="fa fa-chevron-down fs-14 ml-2"></i></div>
            <%= link_to "+ Add", new_venue_attachment_path(venue_id: params[:id]), class: "text-blue1 fw-600 fs-14 add_btn", remote: true %>
          </div>
        </div>
        <div class="attachment"></div>
      </div>
      <div class="collapse show" id="collapseAttach">
        <%= render partial: 'attachment_list', locals: {venue: @venue, attachable: @attachable} %>
      </div>
    </div>
    <div class="sidebar mb-1">
      <div class=" px-3 pt-3">
        <div class="">
          <a class="d-block d-flex align-items-center justify-content-between" data-toggle="collapse"
            href="#collapseBrand" role="button" aria-expanded="true" aria-controls="collapseExample">
            <div class="text-dark fw-500"><span class="mr-auto fs-17 fw-700 text-dark2">Brands(1)</span><i
                class="fa fa-chevron-down fs-14 ml-2"></i></div>
            <button class="text-blue1 fw-600 fs-14 add_btn">+ Add</button>
          </a>
        </div>
      </div>
      <div class="collapse show" id="collapseBrand">
        <div class="card card-body border-0">
          <div class="row mb-3">
            <div class="col-md-12 text-gray fs-16 d-flex align-items-center">
              <%= image_pack_tag 'home/ic_image.png', class: 'img-fluid border-radius-50 contact_user' %>
              <div class="ml-2">
                <p class="fw-600 fs-17">HL Organization</p>
                <p class="fs-15 fw-400 text-gray">Lyodmay_exmplae.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar mb-1">
      <div class=" px-3 pt-3">
        <div class="">
          <a class="d-block d-flex align-items-center justify-content-between" data-toggle="collapse"
            href="#collapseBrand_contact" role="button" aria-expanded="true" aria-controls="collapseExample">
            <div class="text-dark fw-500"><span class="mr-auto fs-17 fw-700 text-dark2">Brand Contacts(1)</span><i
                class="fa fa-chevron-down fs-14 ml-2"></i></div>
            <button class="text-blue1 fw-600 fs-14 ">+ Add</button>
          </a>
        </div>
      </div>
      <div class="collapse show" id="collapseBrand_contact">
        <div class="card card-body border-0">
          <div class="row mb-3">
            <div class="col-md-12 text-gray fs-16 d-flex align-items-center">
              <%= image_pack_tag 'home/ic_image.png', class: 'img-fluid border-radius-50 contact_user' %>
                <div class="ml-2">
                <p class="fw-600 fs-17">HL Organization</p>
                <p class="fs-15 fw-400 text-gray">Lyodmay_exmplae.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</aside>
