<section class="content-wrapper content-margin position-relative business-show main-sidebar-right">
  <div class="row h-100 w-100 m-0 h-100 content-wrapper">
    <div class="col-lg-4 col-xl-3 p-0 border-right">
      <%= render 'show_left_bar' %>
    </div>
    <div class="col-lg-8 col-xl-9 bg-light middle_part">
      <%= render 'show_middle_bar' %>
    </div>
  </div>
  <%= render 'sidebar' %>
</section>
<script>
  $('.toggle-sidebar-button').on('click', function () {
    $('body').toggleClass('sidebar-collapse')
    $(this).find('i').toggleClass('fa-angle-double-right').toggleClass('fa-angle-double-left')
  })
  enable_this = function(tab, tab_body){
    $('.header_tabs').removeClass('active');
    $('.tab-pane').removeClass('active show');
    $('#' + tab).addClass('active');
    $('#' + tab_body).addClass('active show');
    document.getElementById(tab).scrollIntoView();
  }
  // var email_flag = <%= current_user.google_access_token.present? %>
  var email_flag = true
  $(document).ready(function(){
    if ($(window).width() <= 767) {  
      $('body').removeClass('sidebar-collapse');
    } else {
      $('body').addClass('sidebar-collapse');
    }
    $('.enable_notes').on('click', function(){
      enable_this('notes-tab', 'notes-tab-body')
    })
    $('.enable_emails').on('click', function(){
      enable_this('emails-tab', 'emails-tab-body')
      $('.sync_email').closest('div').removeClass('d-none');
      $('.web-btn').addClass('d-none');
      $('.create_meeting').closest('div').addClass('d-none');
    })
    $('.enable_meetings').on('click', function(){
      enable_this('meetings-tab', 'meetings-tab-body')
      $('.sync_email').closest('div').addClass('d-none');
      $('.web-btn').addClass('d-none');
      $('.create_meeting').closest('div').removeClass('d-none');
    })
    $('.enable_events').on('click', function(){
      enable_this('events-tab', 'events-tab-body')
      $('.sync_email').closest('div').addClass('d-none');
      $('.web-btn').removeClass('d-none');
      $('.create_meeting').closest('div').addClass('d-none');
    })
    $('#emails-tab, .sync-gmail').on('click', function(){
      if (email_flag){
        email_flag = false;
        $.ajax({
          url: '<%= emails_url %>',
          type: "GET",
          data: {},
          dataType: "script",
          success: function (data) { 
            console.log("Emails successfully fetched")
          }
        })
      }
    })
     $('.sync-gmail').on('click', function(){
      $.ajax({
        url: '<%= emails_url %>',
        type: "GET",
        data: {},
        dataType: "script",
        success: function (data) { 
          console.log("Emails successfully fetched")
        }
      })
    })
    $('.header_tabs').on('click', function(){
      if(this.id == 'emails-tab'){
        $('.sync_email').closest('div').removeClass('d-none');
        $('.web-btn').addClass('d-none');
        $('.create_meeting').closest('div').addClass('d-none');
      } else if(this.id == 'meetings-tab'){
        $('.sync_email').closest('div').addClass('d-none');
        $('.web-btn').addClass('d-none');
        $('.create_meeting').closest('div').removeClass('d-none');
      } else {
        $('.sync_email').closest('div').addClass('d-none');
        $('.web-btn').removeClass('d-none');
        $('.create_meeting').closest('div').addClass('d-none');
      }
    })
    $('.add_note, .create_meeting').on('click', function(){
      $("#bottom_modal").modal('show');
      $('.modal-backdrop').removeClass('show');
    })
    $('.events_enable').on('click', function(){
      $('.event-view').addClass('d-none');
      $('.event-data').removeClass('d-none');
    })
  })
</script>
<%# Put styles here as per the designer! %>
<style>
  .sidebar-collapse .main-sidebar {
    -webkit-transform: translate(320px, 0);
    -ms-transform: translate(320px, 0);
    -o-transform: translate(320px, 0);
    transform: translate(320px, 0);
  }
  @media (max-width: 767px) {
    .left-side,
    .sidebar-collapse .main-sidebar {
      -webkit-transform: translate(-00px, 0);
      -ms-transform: translate(-00px, 0);
      transform: translate(-0px, 0);
    }
  }
  @media (max-width: 1023px) {
    .toggle-sidebar-button {
      position: absolute;
      right: 320px;
      top: 20px;
      z-index: 2;
    }
    .sidebar-collapse .toggle-sidebar-button {
      right: 20px;
    }
    .web-btn {
      display: none;
    }
  }
  @media (max-width: 767px) {
    .toggle-sidebar-button {
      position: absolute;
      right: 20px;
      top: 20px;
      z-index: 2;
    }
    .sidebar-collapse .toggle-sidebar-button {
      right: 320px;
    }
    .web-btn {
      display: none;
    }
  }
  @media (min-width: 1024px) {
    .toggle-sidebar-button {
      position: fixed;
      right: 320px;
      z-index: 2;
    }
    .mob-btn {
      display: none;
    }
    .sidebar-collapse .toggle-sidebar-button {
      right: 2px;
    }
  }
</style>
