<tr class="">
  <td class="text-nowrap"><%= revenue_source.name %></td>
  <td class="text-nowrap">$<%= display_two_digit(revenue_source.cpc) %></td>
  <td class="text-nowrap">$<%= display_two_digit(revenue_source.cpm) %></td>
  <td class="text-nowrap">$<%= display_two_digit(revenue_source.cpa) %></td>
  <td>
    <div class="action-area-buttons">
      <%#= link_to(venue_event_path(venue, venue), remote: true, class: 'fa') do %>
        <%#= image_pack_tag 'home/ic_view.svg'%>
      <%# end %>
      <%= link_to(edit_venue_revenue_source_path(venue, revenue_source, event_id: event.id), remote: true, class: 'fa') do %>
        <%= image_pack_tag 'home/ic_edit.svg'%>
      <% end %>
      <%= link_to(venue_revenue_source_path(venue, revenue_source, event_id: event.id), remote: true, method: :delete, class: 'fa', data: { confirm: 'Are you sure want to delete this Revenue Source?' }) do %>
        <%= image_pack_tag 'home/ic_delete.svg'%>
      <% end %>
    </div>
  </td>
</tr>
