<div class="modal-header">
  <% title_half = (params[:action] == 'new' or params[:action] == 'create' or params[:add_more].present?) ? 'Add' : 'Edit' %>
  <h5 class="modal-title"><%= title_half %> Brand</h5>
  <div id="flashMessage", class="inner_flash_message"></div>
</div>
<div class="modal-body">
  <%= form_for [venue, brand], remote: true do |f| %>
    <%= f.hidden_field :venue_id, value: params[:id]  %>
    <div class="form-group">
      <%= f.label :domain_name, 'Brand Domain Name', class: 'text-capitalize fs-17 asterisk' %><br />
      <%= f.text_field :domain_name, class:"form-control", placeholder:"Enter Brand Domain Name", required: true  %>
    </div>

    <div class="form-group">
      <%= f.label :name, 'Brand Name', class: 'text-capitalize fs-17 asterisk' %><br />
      <%= f.text_field :name, class:"form-control", placeholder:"Enter Brand Name", required: true  %>
    </div>

    <div class="form-group">
      <%= f.label :phone_number, 'Phone Number', class: 'text-capitalize fs-17 asterisk phone_number' %><br />
      <%= f.text_field :phone_number, class:"form-control", placeholder:"Enter Phone Number", required: true  %>
    </div>

     <div class="form-group">
      <%= f.label :website_url, 'Website URL', class: 'text-capitalize fs-17 asterisk' %><br />
      <%= f.text_field :website_url, class:"form-control", placeholder:"Enter Website URL", required: true  %>
    </div>

    <div class="form-group">
      <%= f.label :street_address, 'Street Address', class: 'text-capitalize fs-17 asterisk' %><br />
      <%= f.text_field :street_address, class:"form-control", placeholder:"Enter Street Address", required: true  %>
    </div>

    <div class="form-group">
      <%= f.label :city, 'City', class: 'text-capitalize fs-17 asterisk' %><br />
      <%= f.text_field :city, class:"form-control", placeholder:"Enter City", required: true  %>
    </div>

    <div class="form-group">
      <%= f.label :state, 'State', class: 'text-capitalize fs-17 asterisk' %><br />
      <%= f.text_field :state, class:"form-control", placeholder:"Enter State", required: true  %>
    </div>

    <div class="form-group">
      <%= f.label :country, 'Country', class: 'text-capitalize fs-17 asterisk' %><br />
      <%= f.text_field :country, class:"form-control", placeholder:"Enter Country", required: true  %>
    </div>

    <div class="form-group">
      <%= f.label :zip_code, 'Zip Code', class: 'text-capitalize fs-17 asterisk' %><br />
      <%= f.text_field :zip_code, class:"form-control", placeholder:"Enter Zip Code", required: true  %>
    </div>

    <div class="form-group">
      <%= f.label :no_of_employee, 'No Of Employee', class: 'text-capitalize fs-17 asterisk' %><br />
      <%= f.text_field :no_of_employee, class:"form-control", placeholder:"Enter No Of Employee", required: true  %>
    </div>

    <div class="form-group">
      <%= f.label :annual_revenue, 'Annual Revenue', class: 'text-capitalize fs-17 asterisk' %><br />
      <%= f.text_field :annual_revenue, class:"form-control", placeholder:"Enter Annual Revenue", required: true  %>
    </div>

    <div class="form-group">
      <%= f.label :brand_owner, 'Brand Owner', class: 'text-capitalize fs-17 asterisk' %><br />
      <%= f.text_field :brand_owner, class:"form-control", placeholder:"Enter Brand Owner", required: true  %>
    </div>

    <div class="form-group">
      <%= f.label :description, class: 'text-capitalize fs-17 asterisk' %><br />
      <%= f.text_area :description, class:"form-control h-auto", placeholder:"Enter Description", required: true, rows: 4 %>
    </div>

    <div class="modal-footer modal-footer-fixed">
      <% save_button_title = f.object.new_record? ? 'Add' : 'Save' %>
      <%= f.submit save_button_title, class: "btn btn-primary add_event" %>
      <%= f.submit 'Add More', name: 'add_more', value: 'Add More', class: "btn btn-primary add_event" %>
      <button type="button" class="btn btn-light bg-light-gray text-dark" data-dismiss="modal">Close</button>
    </div>
  <% end %>
</div>