<div class="shadow p-3 mb-3 bg-white rounded mt-4 note_shadow_box_5">
  <div class="d-flex align-items-start justify-content-between flex-wrap">
    <div>
      <p class="text-dark2 fw-600 fs-17">To: <%= message.to_name %><span class="text-gray">(<%= message.to_email_address %>)</span>
      </p>
      <p class="text-dark2 fw-600 fs-17">From: <%= message.from_name %><span class="text-gray">(<%= message.from_email_address %>)</span>
      </p>
    </div>
    <div class="d-flex align-items-center">
      <p class="text-gray fs-14 mr-3"><%= message.received_date_time %>
      </p>
      <a herf="#">
        <%= image_pack_tag 'home/ic_delete.svg', class: 'img-fluid' %>
      </a>
    </div>
  </div>
  <p>
  </p>
  <p class="text-gray mt-3 fs-17"> <%= message.subject %>
  </p>
  <div class="d-flex align-items-center flex-wrap mt-4">
    <span class="mr-4 d-flex align-items-center ">
      <p class="text-blue1 fw-600 fs-15">Contacted:
      </p>
      <p class="text-darkgray1  fw-600 ml-2 fs-15"><%= message.to_name %>
      </p>
    </span>
    <span class="mr-4 d-flex align-items-center ">
      <p class="text-blue1  fw-600 fs-15">Date:
      </p>
      <p class="text-darkgray1  fw-600 ml-2 fs-15"><%= time_date(message.received_date_time.to_datetime) %>
      </p>
    </span>
    <span class="mr-4 d-flex align-items-center ">
      <p class="text-blue1  fw-600 fs-15">Time:
      </p>
      <p class="text-darkgray1  fw-600 ml-2 fs-15"><%= message.received_date_time %>
      </p>
    </span>
  </div>
  <!-- <p class="text-primary mt-3 fs-17 fw-600">
    <%#= image_pack_tag 'home/ic_comment.svg', class: 'img-fluid mr-3' %> Add
    Comments
  </p> -->
</div>
