<section class="content-wrapper bg-light">
  <div class="page-title border-bottom title-border bg-white">
    <div class="content">
      <div class="row">
        <div class="col-lg-12">
          <h5 class="text-gray d-inline"><%= link_to 'Settings', settings_path, class: 'text-gray' %></h5>
          <h5 class="text-gray d-inline"> <i class="fa fa-angle-right"></i></h5>
          <h5 class="text-dark d-inline">Dynamic Fields Settings</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="content position-relative tab-section bg-light pt-0">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <% Klass::DYNAMIC_KLASSES.each_with_index do |dynamic_klass, index| %>
        <li class="nav-item mt-3 <%= 'mr-auto' if Klass::DYNAMIC_KLASSES.last.equal? dynamic_klass %>">
          <a class="nav-link <%= "active" if index == 0 %> fs-16 mx-sm-2 header_tabs" id="<%= dynamic_klass[:ts_name] %>-tab" data-toggle="tab"
            href="#<%= dynamic_klass[:ts_name] %>-tab-body" role="tab" aria-controls="<%= dynamic_klass[:ts_name] %>-tab-body" aria-selected="true"><%= dynamic_klass[:name] %></a>
        </li>
      <% end %>
      <% Klass::DYNAMIC_KLASSES.each_with_index do |dynamic_klass, index| %>
        <li class="mt-3 mt-md-0 <%= index == 0 ? 'd-flex' : 'd-none' %> align-items-center">
          <div class="ml-4 d-inline">
            <%= link_to "Add Group", new_group_path(klass_id: Klass.send(dynamic_klass[:ts_name]).id), remote: true, class: "btn btn-primary add_#{ dynamic_klass[:ts_name] }_field" %>
          </div>
        </li>
      <% end %>
    </ul>
    <div class="tab-content" id="myTabContent">
      <% Klass::DYNAMIC_KLASSES.each_with_index do |dynamic_klass, index| %>
        <div class="tab-pane fade <%= "show active" if index == 0 %>" id="<%= dynamic_klass[:ts_name] %>-tab-body" role="tabpanel" aria-labelledby="<%= dynamic_klass[:ts_name] %>-tab">
          <% specific_klass = Klass.send(dynamic_klass[:ts_name]) %>
          <div class="group-sortable" data-klass-id="<%= specific_klass.id %>">
            <%= render partial: 'groups/group', collection: specific_klass.groups, locals: { klass: specific_klass } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<script>
  enable_users = function(){
    $('.add_user_field').closest('li').removeClass('d-none').addClass('d-flex');
    $('.add_business_field').closest('li').removeClass('d-flex').addClass('d-none');
    $('.add_venue_field').closest('li').removeClass('d-flex').addClass('d-none');
    $('.add_event_field').closest('li').removeClass('d-flex').addClass('d-none');
    $('.add_brand_field').closest('li').removeClass('d-flex').addClass('d-none');
    $('.header_tabs').removeClass('active');
    $('#user-tab').addClass('active');
    $('.tab-pane').removeClass('active show')
    $('#user-tab-body').addClass('active show');
  }
  enable_venues = function(){
    $('.add_venue_field').closest('li').removeClass('d-none').addClass('d-flex');
    $('.add_user_field').closest('li').removeClass('d-flex').addClass('d-none');
    $('.add_business_field').closest('li').removeClass('d-flex').addClass('d-none');
    $('.add_event_field').closest('li').removeClass('d-flex').addClass('d-none');
    $('.add_brand_field').closest('li').removeClass('d-flex').addClass('d-none');
    $('.header_tabs').removeClass('active');
    $('#venue-tab').addClass('active')
    $('.tab-pane').removeClass('active show')
    $('#venue-tab-body').addClass('active show');
  }
  enable_events = function(){
    $('.add_event_field').closest('li').removeClass('d-none').addClass('d-flex');
    $('.add_venue_field').closest('li').removeClass('d-flex').addClass('d-none');
    $('.add_user_field').closest('li').removeClass('d-flex').addClass('d-none');
    $('.add_business_field').closest('li').removeClass('d-flex').addClass('d-none');
    $('.add_brand_field').closest('li').removeClass('d-flex').addClass('d-none');
    $('.header_tabs').removeClass('active');
    $('#event-tab').addClass('active')
    $('.tab-pane').removeClass('active show')
    $('#event-tab-body').addClass('active show');
  }
  enable_brands = function(){
    $('.add_event_field').closest('li').removeClass('d-flex').addClass('d-none');
    $('.add_venue_field').closest('li').removeClass('d-flex').addClass('d-none');
    $('.add_user_field').closest('li').removeClass('d-flex').addClass('d-none');
    $('.add_business_field').closest('li').removeClass('d-flex').addClass('d-none');
    $('.add_brand_field').closest('li').removeClass('d-none').addClass('d-flex');
    $('.header_tabs').removeClass('active');
    $('#brand-tab').addClass('active')
    $('.tab-pane').removeClass('active show')
    $('#brand-tab-body').addClass('active show');
  }
  $(document).ready(function(){
    if(window.location.hash.substr(1) == "venue"){
      enable_venues();
    } else if(window.location.hash.substr(1) == "user") {
      enable_users();
    } else if(window.location.hash.substr(1) == "event") {
      enable_events();
    } else if(window.location.hash.substr(1) == "brand") {
      enable_brands();
    }
    $('.header_tabs').on('click', function(){
      if(this.id == 'user-tab'){
        $('.add_user_field').closest('li').removeClass('d-none').addClass('d-flex');
        $('.add_business_field').closest('li').removeClass('d-flex').addClass('d-none');
        $('.add_venue_field').closest('li').removeClass('d-flex').addClass('d-none');
        $('.add_event_field').closest('li').removeClass('d-flex').addClass('d-none');
        $('.add_brand_field').closest('li').removeClass('d-flex').addClass('d-none');
      } else if(this.id == 'business-tab'){
        $('.add_business_field').closest('li').removeClass('d-none').addClass('d-flex');
        $('.add_user_field').closest('li').removeClass('d-flex').addClass('d-none');
        $('.add_venue_field').closest('li').removeClass('d-flex').addClass('d-none');
        $('.add_event_field').closest('li').removeClass('d-flex').addClass('d-none');
        $('.add_brand_field').closest('li').removeClass('d-flex').addClass('d-none');
      } else if(this.id == 'event-tab'){
        $('.add_business_field').closest('li').removeClass('d-flex').addClass('d-none');
        $('.add_user_field').closest('li').removeClass('d-flex').addClass('d-none');
        $('.add_venue_field').closest('li').removeClass('d-flex').addClass('d-none');
        $('.add_event_field').closest('li').removeClass('d-none').addClass('d-flex');
        $('.add_brand_field').closest('li').removeClass('d-flex').addClass('d-none');
      } else if(this.id == 'brand-tab'){
        $('.add_business_field').closest('li').removeClass('d-flex').addClass('d-none');
        $('.add_user_field').closest('li').removeClass('d-flex').addClass('d-none');
        $('.add_venue_field').closest('li').removeClass('d-flex').addClass('d-none');
        $('.add_event_field').closest('li').removeClass('d-flex').addClass('d-none');
        $('.add_brand_field').closest('li').removeClass('d-none').addClass('d-flex');
      } else {
        $('.add_venue_field').closest('li').removeClass('d-none').addClass('d-flex');
        $('.add_user_field').closest('li').removeClass('d-flex').addClass('d-none');
        $('.add_business_field').closest('li').removeClass('d-flex').addClass('d-none');
        $('.add_event_field').closest('li').removeClass('d-flex').addClass('d-none');
        $('.add_brand_field').closest('li').removeClass('d-flex').addClass('d-none');
      }
    })
  })
</script>
