<section class="content-wrapper bg-light">
  <div class="page-title border-bottom title-border bg-white">
    <div class="content">
      <div class="row">
        <div class="col-lg-12">
          <h5 class="text-gray d-inline"><%= link_to 'Settings', settings_path, class: 'text-gray' %></h5>
          <h5 class="text-gray d-inline"> <i class="fa fa-angle-right"></i></h5>
          <h5 class="text-dark d-inline">Dynamic Fields Settings</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="content position-relative tab-section bg-light pt-0">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item mt-3">
        <a class="nav-link active fs-16 mx-sm-2 header_tabs" id="business-tab" data-toggle="tab"
          href="#business-tab-body" role="tab" aria-controls="business-tab-body" aria-selected="true">Business</a>
      </li>
      <li class="nav-item mt-3">
        <a class="nav-link fs-16 mx-sm-2 header_tabs" id="user-tab" data-toggle="tab"
          href="#user-tab-body" role="tab" aria-controls="user-tab-body" aria-selected="true">User</a>
      </li>
      <li class="nav-item mt-3">
        <a class="nav-link fs-16 mx-sm-2 header_tabs" id="venue-tab" data-toggle="tab"
          href="#venue-tab-body" role="tab" aria-controls="venue-tab-body" aria-selected="true">Venue</a>
      </li>
      <li class="nav-item mt-3 mr-auto">
        <a class="nav-link fs-16 mx-sm-2 header_tabs" id="event-tab" data-toggle="tab"
          href="#event-tab-body" role="tab" aria-controls="event-tab-body" aria-selected="true">Event</a>
      </li>
      <li class="mt-3 mt-md-0 d-flex align-items-center">
        <div class="ml-4 d-inline">
          <%#= link_to "Add Field", new_field_path(klass_id: Klass.business.id), remote: true, class: 'btn btn-primary add_business_field' %>
          <%= link_to "Add Group", new_group_path(klass_id: Klass.business.id), remote: true, class: 'btn btn-primary add_business_field' %>
        </div>
      </li>
      <li class="mt-3 mt-md-0 d-none align-items-center">
        <div class="ml-4 d-inline">
          <%= link_to "Add Group", new_group_path(klass_id: Klass.user.id), remote: true, class: 'btn btn-primary add_user_field' %>
        </div>
      </li>
      <li class="mt-3 mt-md-0 d-none align-items-center">
        <div class="ml-4 d-inline">
          <%= link_to "Add Group", new_group_path(klass_id: Klass.venue.id), remote: true, class: 'btn btn-primary add_venue_field' %>
        </div>
      </li>
      <li class="mt-3 mt-md-0 d-none align-items-center">
        <div class="ml-4 d-inline">
          <%= link_to "Add Group", new_group_path(klass_id: Klass.event.id), remote: true, class: 'btn btn-primary add_event_field' %>
        </div>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="business-tab-body" role="tabpanel" aria-labelledby="business-tab">
        <%#= render 'fields_list', klass: Klass.business, groups: @groups %>
        <div class="group-sortable" data-klass-id="<%= Klass.business.id %>">
          <%= render partial: 'groups/group', collection: Klass.business.groups, locals: { klass: Klass.business } %>
        </div>
      </div>
      <div class="tab-pane fade" id="user-tab-body" role="tabpanel" aria-labelledby="user-tab">
        <%#= render 'fields_list', klass: Klass.user, groups: @groups %>
        <div class="group-sortable" data-klass-id="<%= Klass.user.id %>">
          <%= render partial: 'groups/group', collection: Klass.user.groups, locals: { klass: Klass.user } %>
        </div>
      </div>
      <div class="tab-pane fade" id="venue-tab-body" role="tabpanel" aria-labelledby="venue-tab">
        <%#= render 'fields_list', klass: Klass.venue, groups: @groups %>
        <div class="group-sortable" data-klass-id="<%= Klass.venue.id %>">
          <%= render partial: 'groups/group', collection: Klass.venue.groups, locals: { klass: Klass.venue } %>
        </div>
      </div>
      <div class="tab-pane fade" id="event-tab-body" role="tabpanel" aria-labelledby="event-tab">
        <%#= render 'fields_list', klass: Klass.event, groups: @groups %>
        <div class="group-sortable" data-klass-id="<%= Klass.event.id %>">
          <%= render partial: 'groups/group', collection: Klass.event.groups, locals: { klass: Klass.event } %>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  enable_users = function(){
    $('.add_user_field').closest('li').removeClass('d-none').addClass('d-flex');
    $('.add_business_field').closest('li').removeClass('d-flex').addClass('d-none');
    $('.add_venue_field').closest('li').removeClass('d-flex').addClass('d-none');
    $('.add_event_field').closest('li').removeClass('d-flex').addClass('d-none');
    $('.header_tabs').removeClass('active');
    $('#user-tab').addClass('active');
    $('.tab-pane').removeClass('active show')
    $('#user-tab-body').addClass('active show');
  }
  enable_venues = function(){
    $('.add_venue_field').closest('li').removeClass('d-none').addClass('d-flex');
    $('.add_user_field').closest('li').removeClass('d-flex').addClass('d-none');
    $('.add_business_field').closest('li').removeClass('d-flex').addClass('d-none');
    $('.add_event_field').closest('li').removeClass('d-flex').addClass('d-none');
    $('.header_tabs').removeClass('active');
    $('#venue-tab').addClass('active')
    $('.tab-pane').removeClass('active show')
    $('#venue-tab-body').addClass('active show');
  }
  enable_events = function(){
    $('.add_event_field').closest('li').removeClass('d-none').addClass('d-flex');
    $('.add_venue_field').closest('li').removeClass('d-flex').addClass('d-none');
    $('.add_user_field').closest('li').removeClass('d-flex').addClass('d-none');
    $('.add_business_field').closest('li').removeClass('d-flex').addClass('d-none');
    $('.header_tabs').removeClass('active');
    $('#event-tab').addClass('active')
    $('.tab-pane').removeClass('active show')
    $('#event-tab-body').addClass('active show');
  }
  $(document).ready(function(){
    if(window.location.hash.substr(1) == "venue"){
      enable_venues();
    } else if(window.location.hash.substr(1) == "user") {
      enable_users();
    } else if(window.location.hash.substr(1) == "event") {
      enable_events();
    }
    $('.header_tabs').on('click', function(){
      if(this.id == 'user-tab'){
        $('.add_user_field').closest('li').removeClass('d-none').addClass('d-flex');
        $('.add_business_field').closest('li').removeClass('d-flex').addClass('d-none');
        $('.add_venue_field').closest('li').removeClass('d-flex').addClass('d-none');
        $('.add_event_field').closest('li').removeClass('d-flex').addClass('d-none');
      } else if(this.id == 'business-tab'){
        $('.add_business_field').closest('li').removeClass('d-none').addClass('d-flex');
        $('.add_user_field').closest('li').removeClass('d-flex').addClass('d-none');
        $('.add_venue_field').closest('li').removeClass('d-flex').addClass('d-none');
        $('.add_event_field').closest('li').removeClass('d-flex').addClass('d-none');
      } else if(this.id == 'event-tab'){
        $('.add_business_field').closest('li').removeClass('d-flex').addClass('d-none');
        $('.add_user_field').closest('li').removeClass('d-flex').addClass('d-none');
        $('.add_venue_field').closest('li').removeClass('d-flex').addClass('d-none');
        $('.add_event_field').closest('li').removeClass('d-none').addClass('d-flex');
      } else {
        $('.add_venue_field').closest('li').removeClass('d-none').addClass('d-flex');
        $('.add_user_field').closest('li').removeClass('d-flex').addClass('d-none');
        $('.add_business_field').closest('li').removeClass('d-flex').addClass('d-none');
        $('.add_event_field').closest('li').removeClass('d-flex').addClass('d-none');
      }
    })
  })
</script>
