<div class="modal-header">
  <% title_half = (params[:action] == 'new' or params[:action] == 'create' or params[:add_more].present?) ? 'Add' : 'Edit' %>
  <h5 class="modal-title"><%= title_half %> Venue Contact</h5>
  <div id="flashMessage", class="inner_flash_message"></div>
</div>
<div class="modal-body">
  <%= form_for [venue, venue_contact], remote: true do |f| %>
    <div class="form-group">
      <div class="">
        <% if f.object.profile_pic.attached? %>
          <%= image_tag f.object.profile_pic, class: 'img-boundary image-profile-pic' %>
        <% else %>
          <%= image_pack_tag 'home/profile_placeholder.svg', class: 'img-boundary image-profile-pic' %>
        <% end %>
        <div class="content-profile-info d-inline badge badge-edit">
          <label class="btn-avatar">
            <i class="fa fa-pencil-alt fs-16 text-white"></i>
            <span style="display:none;">
              <%= f.file_field :profile_pic, class: "avatar", id: "avatar-upload1", onchange: "readURL(this)", accept: "image/*" %>
            </span>
            <ul class="parsley-errors-list filled" id="parsley-id-5" aria-hidden="false">
              <li class="parsley-required" id="image-val-msg1" style="display: none">Please upload only image.
              </li>
            </ul>
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :email, 'Email Address', class: 'text-capitalize fs-17 asterisk' %><br />
      <%= f.email_field :email, class: 'form-control', required: true, pattern: Field::PATTERNS["Email".to_sym], placeholder: 'Enter Email Address', disabled: !f.object.new_record? %>
    </div>
    <div class="form-group">
      <%= f.label :full_name, 'Full Name', class: 'text-capitalize fs-17 asterisk' %><br />
      <%= f.text_field :full_name, class:"form-control", placeholder: 'Enter Full Name', required: true, maxlength: 40 %>
    </div>
    <div class="form-group">
      <%= f.label :job_title, 'Job Title', class: 'text-capitalize fs-17 asterisk' %><br />
      <%= f.text_field :job_title, class:"form-control", placeholder: 'Enter Job Title', required: true, maxlength: 15 %>
      <%#= f.select :job_title, options_for_select(VenueContact::JOB_TITLE,  f.object.job_title), { prompt: 'Select Job Title' }, { class: 'form-control', required: true} %>
    </div>
    <div class="form-group">
      <%= f.label :phone_no, 'Phone Number', class: 'text-capitalize fs-17 asterisk' %><br />
      <%= f.text_field :phone_no, class: 'form-control phone-validation phone-number', required: true, pattern: Field::PATTERNS["Phone".to_sym], maxlength: 14, placeholder: 'Enter Phone Number' %>
    </div>
    <% if params[:inside].present? %>
      <%= f.hidden_field :inside, value: true %>
    <% end %>
    <div class="modal-footer modal-footer-fixed">
      <% save_button_title = f.object.new_record? ? 'Add' : 'Save' %>
      <%= f.submit save_button_title, class: "btn btn-primary add_venue_contact" %>
      <%= f.submit 'Add More', name: 'add_more', value: 'Add More', class: "btn btn-primary add_venue_contact" %>
      <button type="button" class="btn btn-light bg-light-gray text-dark" data-dismiss="modal">Close</button>
    </div>
  <% end %>
</div>
<script>
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function(e) {
        $('.image-profile-pic').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]);
    }
  }
  $("#avatar-upload1").change(function() {
    var val = $(this).val();
    if (!val.match(/(?:gif|jpg|png|bmp|jpeg|svg)$/)) {
      $("#image-val-msg").css('display', 'block');
      return false
    }
    $('#img_prev1').removeClass('hidden');
    readURL(this);
  });
</script>