<header class="main-header bg-custom-blue">
  <nav class="navbar navbar-expand-xl navbar-dark">
    <%= link_to root_path, class: 'navbar-brand py-3' do %>
      <%= image_pack_tag 'login/VenuTRAX-WH-2s.png', width: '133px', height: '43px' %>
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown px-md-2">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Business Management
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "View Business", businesses_path, class: 'dropdown-item fw-600 fs-14' %>
            <a class="dropdown-item fw-600 fs-14" href="#">Add Business</a>
            <a class="dropdown-item fw-600 fs-14" href="#">View Venue</a>
            <!-- <div class="dropdown-divider"></div> -->
          </div>
        </li>
        <li class="nav-item dropdown px-md-2">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Simulation
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "View Simulation", simulations_path, class: 'dropdown-item fw-600 fs-14' %>
            <a class="dropdown-item fw-600 fs-14" href="#">View Venue</a>
            <!-- <div class="dropdown-divider"></div> -->
          </div>
        </li>
        <li class="nav-item dropdown px-md-2">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            User Management
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item fw-600 fs-14" href="#">View User</a>
            <a class="dropdown-item fw-600 fs-14" href="#">Add User</a>
          </div>
        </li>
        <li class="nav-item dropdown px-md-2">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Reports
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item fw-600 fs-14" href="#">Action</a>
            <a class="dropdown-item fw-600 fs-14" href="#">Another</a>
          </div>
        </li>
      </ul>
      <div class="my-2 my-lg-0 mr-3">
        <ul class="navbar-nav mr-auto d-flex flex-row">
          <li class="nav-item mr-md-2">
            <a class="nav-link" href="javascript:(0)"><i class="fa fa-search"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:(0)">
              <i class="fa fa-bell"></i>
              <span class="badge badge-notify">0</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:(0)"><i class="fa fa-cog"></i></a>
          </li>
        </ul>
      </div>
      <div class="my-2 my-lg-0">
      <ul class="navbar-nav">
          <li class="nav-item dropdown profile-dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_pack_tag 'home/profile_placeholder.svg', alt: "", class: "profile-circle nav-circie mr-1" %><%= current_user.full_name&.truncate(15, :omission => "...") || 'User' %>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%if user_signed_in? %>
                <%= link_to edit_user_registration_path, class:"dropdown-item fw-600 fs-14", remote: true  do %>
                  <i class="fa fa-sign-out m-r-10"></i> My Profile
                <% end %>
                <%= link_to destroy_user_session_path, class:"dropdown-item fw-600 fs-14", method: :delete  do %>
                  <i class="fa fa-sign-out m-r-10"></i> Logout
                <% end %>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<style>
  .dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    max-height: 300px;
    opacity: 1;
  }

  .main-header .dropdown-menu {
    background-color: #007AFF;
    border-radius: 0px;
  }

  .main-header .dropdown-menu>.dropdown-item{
    color: white;
  }

  .navbar .navbar-nav .nav-link {
    padding: 0.6em;
  }
  .navbar .navbar-brand {
    padding: 0 0.6em;
  }

  @media only screen and (min-width: 960px) {
    .navbar {
      padding: 0;
    }
    .navbar .navbar-nav .nav-link {
      padding: 1em 0.5em;
    }
    .navbar .navbar-brand {
      padding: 0 0.8em;
    }
    .profile-dropdown {
      position: relative;
    }
    .profile-dropdown::before {
      content: '.';
      position: absolute;
      top: 50%;
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      border-left: 1px solid #fff;
      color: #2E3F50;
      height: 37%;
      left: -2%;
    }
  }

</style>
