<!DOCTYPE html>
<html>
  <head>
    <title>VenuTRAX</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%#= favicon_link_tag '/public/venu_fav.ico' %>
    <%= favicon_pack_tag 'venu_fav.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
     <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_n-RDApslpQKgNVA6XkWSVqGcW9KAbJg&libraries=places">
  </script>
  </head>

  <body class="admin-wrapper">
    <div class="wrapper">
      <%= render partial: 'layouts/header' %>
      <%= yield %>
      <%= render partial: 'layouts/simple_modal' %>
      <%= render partial: 'layouts/right_modal' %>
      <%= render partial: 'layouts/bottom_modal' %>
      <%= render partial: 'layouts/footer' %>
    </div>
    <%# <div class='scrolltop' style="display: none;">
      <div class='scroll icon'>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevrons-up"><polyline points="17 11 12 6 7 11"></polyline><polyline points="17 18 12 13 7 18"></polyline></svg>
      </div>
    </div> %>
  </body>
</html>
