<!DOCTYPE html>
<html>
  <head>
    <title>VenuTRAX</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%#= favicon_link_tag '/public/venu_fav.ico' %>
    <%= favicon_pack_tag 'venu_fav.ico' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag Ckeditor.cdn_url %>
  </head>

  <body class="admin-wrapper">
    <div class="wrapper">
      <%= render partial: 'layouts/header' %>
      <div class="header_flash_message">
        <%= render 'layouts/flash_messages' %>
      </div>
      <%= yield %>
      <%= render partial: 'layouts/simple_modal' %>
      <%= render partial: 'layouts/right_modal' %>
      <%= render partial: 'layouts/bottom_modal' %>
      <%= render partial: 'layouts/footer' %>
    </div>
  </body>
</html>
